{% extends "layouts/default.html" %}

{% load widget_tweaks static custom compress crispy_forms_tags %}

{% block view_title %}User Registration | {% endblock %}

{% block view_content %}
<div class="container">

	<div class="page-header">
		<h1 class="text-center">User Registration</h1>
	</div>

	<div class="well text-center">

			<form action="{% url 'register' %}" class="form-horizontal" style="display: inline-block" method="post">
				{% csrf_token %}
				{{form|crispy}}
				<input type="hidden" name="next" value="{{ next }}" />
				<div class="control-group">
					<div class="controls">
						<input class="btn btn-primary" name="commit" type="submit" value="Register">
					</div>
				</div>
			</form>

	</div>
</div>
{% endblock %}
