{% extends "layouts/default.html" %}

{% load static custom crispy_forms_tags widget_tweaks compress l10n %}

{% block view_title %}Report a Violation | {% endblock %}

{% block view_content %}

  <!--
  <div id="ui-wizard-progress-bar" style="z-index: 900;">
    <div class="container progress progress-info progress-striped">
      <div class="progress-bar animated" id="ui-wizard-progress"></div>
    </div>
  </div>
  -->

  <form id="report-form" action="{% url 'incidents:submit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

  <div class="container">

  <div class="page-header">
    <h1 class="text-center">Violation Report Submission<small></small></h1>
  </div>

    {% if form.errors %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for field, errors in form.errors.items %}
        <div>{{field}}:{% for error in errors %} {{error}}{% endfor %}</div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-9">

        <div class="well report-incident-form">

          <div class="row">
            <div class="col-md-12">
              <h1 id="wizard-1-header" class="text-center animated">I'm a <divspan id="ui-wizard-reporter-state" style="display: inline-block;">...</span></h1>
              <input id="id_victim" name="victim" type="hidden" value="0">
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-victim-witness-buttons">
            <div class="col-md-6" id="ui-wizard-victim-button-container">
              <a href="javascript:void(0)" class="btn btn-lg btn-block btn-warning" id="ui-wizard-victim-button" data-value="victim" data-class="text-warning"><i class="icon-user icon-2x"></i> Victim</a>
            </div>
            <div class="col-md-6" id="ui-wizard-witness-button-container">
              <a href="javascript:void(0)" class="btn btn-lg btn-block btn-success" id="ui-wizard-witness-button" data-value="witness" data-class="text-success" tabindex="0"><i class="icon-eye-open icon-2x"></i> Witness</a>
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-category" hidden>
            <div class="col-md-offset-2 col-md-8 natural-language-form">

              <p class="lead text text-center" style="margin: 0;">
                <span id="ui-wizard-victim-text" hidden>I've been a victim of</span>
                <span id="ui-wizard-witness-text" hidden>I've witnessed a</span>
                {% render_field form.category placeholder="Select an incident category" class+="select2 _col-md-4 btn-lg" data-style="form-control btn-lg _boostrap-select-fix" %}
              </p>

            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-location-datetime" hidden>
            <div class="col-md-6">
              <h2><i class="icon-map-marker"></i> Location</h2>
              <div id="map" style="width:100%; height: 300px"></div>
              {% render_field form.latitude type="hidden" %}
              {% render_field form.longitude type="hidden" %}
              {#% render_field form.location type="hidden" %#}
              <input type="hidden" id="id_location" name="location">
              <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon"> <i class="icon-map-marker icon-large"></i> </span>
                {% render_field form.location_text type="text" placeholder="Location" class="form-control" _data-provide="typeahead" _data-source="reform.data.locations" _autocomplete="off" %}
              </div>
            </div>
            <div class="col-md-6">
              <h2><i class="icon-calendar"></i><i class="icon-time"></i> Date and Time</h2>
              {% render_field form.datetime type="text" _type="datetime-local" class+="form-control" _required="required" style="display: none;" %}
              <div id="dateinput" style="height: 300px;">
              <script type="text/template" id="dateinput-template">
                <div class="controls">
                  <div class="clndr-previous-year-button">&lsaquo;&lsaquo;</div>
                  <div class="clndr-previous-button">&lsaquo;</div>
                  <div class="month"><%= month %> <%= year %></div>
                  <div class="clndr-next-button">&rsaquo;</div>
                  <div class="clndr-next-year-button">&rsaquo;&rsaquo;</div>
                </div>
                <div class="clndr-grid">
                  <div class="days-of-the-week clearfix">
                    <% _.each(daysOfTheWeek, function(day) { %>
                      <div class="header-day text-muted"><strong><%= day %></strong></div>
                    <% }); %>
                  </div>
                  <div class="days clearfix">
                    <% _.each(days, function(day) { %>
                      <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                    <% }); %>
                  </div>
                </div>
              </script>
              </div>
              <input id="id_date" name="date" type="hidden">
              <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon"> <i class="icon-time icon-large"></i> </span>
                <input id="id_time" name="time" type="time" class="form-control" placeholder="Time" value="12:00">
              </div>
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-victim-aggressor" hidden>

            <div class="col-md-6" id="ui-wizard-victim-area">
              <h2 id="ui-reporter-victim-label"><i class="icon-user"></i> Victim</h2>
              <h2 id="ui-witness-victim-label" hidden><i class="icon-user"></i> Victim Profile</h2>

              <fieldset id="ui-reporter-victim-fieldset" class="ui-victim-fieldset form-horizontal input-area clean-empty" style="display: none;" disabled>

                {{victim_profile_form|crispy_form_horizontal}}

              </fieldset>

              <fieldset id="ui-witness-victim-fieldset" class="ui-victim-fieldset form-horizontal input-area clean-empty" style="display: none;" disabled>

                <!--{% render_field form.victim placeholder="Victim" class+="select2 form-control" %}-->

                {{victim_form|crispy_form_horizontal}}

              </fieldset>

            </div>

            <div class="col-md-6" id="ui-wizard-aggressor-area">
              <div>
                <h2 class="pull-left_"><i class="icon-male"></i> Aggressor</h2>
                <!--
                <h2 class="pull-right">
                  <a id="ui-aggressor-next" class="btn btn-quiet" title="Next"><i class="icon-arrow-right icon-large"></i></a>
                </h2>
                -->
              </div>
              {% render_field form.aggressor placeholder="Aggressor" class+="form-control input-area" %}
            </div>

          </div>

          <div class="row ui-wizard-row" id="ui-wizard-description-media" hidden>
            <div class="col-md-6">
              <h2><i class="icon-ellipsis-horizontal"></i> Description</h2>
              {% render_field form.description placeholder="Description" required="required" class+="form-control input-area" %}
            </div>
            <div class="col-md-6">
              <h2><i class="icon-picture"></i> Media Attachments</h2>
              <!--<input name="files[]" type="file" multiple />-->
              <!--<input type="hidden" name="rsid" value="{{report_submit_id}}">-->
              <div id="ui-media-file-upload" tabindex="0" class="dropzone input-area" style="background-color: #FFF; border: 1px solid #999;"></div>
              <!--
              <button type="button" class="form-control input-area" style="padding: 0;">
                <div id="ui-media-file-upload" class="dropzone" style="background-color: #FFF; height: 100%">
                </div>
              </button>
              -->
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-sources-media-links" hidden>
            <div class="col-md-6">
              <h2><i class="icon-search"></i> Sources</h2>
              <ul id="ui-sources-list" class="list-unstyled">
                <script id="ui-sources-list-item" type="text/template">
                  <li>
                    <input type="hidden" name="sources[]" value="<%= value %>">
                    <a href="<%= url %>" target="_blank"><%= source %></a>
                    <a href="#" class="ui-sources-remove-button btn btn-not"><i class="icon-minus-sign icon-large"></i></a>
                  </li>
                </script>
              </ul>
              <div class="row">
                <div class="col-xs-5">
                  <input id="ui-sources-source-input" type="text" class="form-control" placeholder="Source">
                </div>
                <div class="col-xs-7">
                  <div class="input-group">
                    <input id="ui-sources-url-input" type="url" class="form-control" placeholder="URL">
                    <span class="input-group-btn">
                      <a id="ui-sources-add-button" href="#" class="btn btn-default"><i class="icon-plus-sign icon-large"></i></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h2><i class="icon-link"></i> Media Links</h2>
              <ul id="ui-links-list" class="list-unstyled">
                <script id="ui-links-list-item" type="text/template">
                  <li>
                    <input type="hidden" name="links[]" value="<%= url %>">
                    <a href="<%= url %>" target="_blank"><%= url %></a>
                    <a href="#" class="ui-links-remove-button btn btn-not"><i class="icon-minus-sign icon-large"></i></a>
                  </li>
                </script>
              </ul>
              <div class="input-group">
                <input id="ui-links-url-input" type="url" class="form-control" placeholder="Media Link">
                <span class="input-group-btn">
                  <a id="ui-links-add-button" href="#" class="btn btn-default"><i class="icon-plus-sign icon-large"></i></a>
                </span>
              </div>
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-features" hidden>
            <div class="col-md-12">
              <h2><i class="icon-tags"></i> Features</h2>
              <!--<input type="text" class="form-control" placeholder="Features">-->
              {% render_field form.features placeholder="Select applicable features" class+="select2 btn-lg" data-style="form-control btn-lg"  %}
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-submit" hidden>
            <div class="col-md-12">
              <button class="btn btn-danger btn-block btn-lg"><i class="icon-plus"></i> Report</button>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-3 ui-latest-reports">
        <h2><span id="ui-latest-reports-label">Latest</span><span id="ui-similar-reports-label" hidden>Similar</span> Reports</h2>
        <hr>
        <!--<ul id="ui-reports-list" class="list list-hover">-->
        <div id="ui-reports-list" class="list-group">
          {% include "incidents/submit_similar_reports_list.html" %}
        <!--</ul>-->
        </div>
      </div>
    </div>

  </div>

  </form>

{% endblock %}

{% block view_styles %}

  {% compress css %}
  <!-- Map -->
  <link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.css' %}" />
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.ie.css' %}" />
  <![endif]-->
  <link rel="stylesheet" href="{% static 'dependencies/L.GeoSearch/src/css/l.geosearch.css' %}" />

  <link rel="stylesheet" href="{% static 'components/dropzone/downloads/css/basic.css' %}" />
  {% endcompress %}

  {% compress css %}
  <link rel="stylesheet" href="{% static 'incidents/styles/submit.css'%}" />
  {% endcompress %}

{% endblock %}

{% block view_scripts %}
  {% compress js %}
  <!-- UI Block -->
  <script src="{% static 'components/blockui/jquery.blockUI.js' %}"></script>
  <script type="text/javascript">$.blockUI.defaults.baseZ = 800;</script>
  <!-- Map -->
  <script src="{% static 'components/leaflet/dist/leaflet.js' %}"></script>
  <script type="text/javascript">L.Icon.Default.imagePath = "{% static 'components/leaflet/dist/images' %}";</script>
  <script src="{% static 'dependencies/L.GeoSearch/src/js/l.control.geosearch.js' %}"></script>
  <script src="{% static 'dependencies/L.GeoSearch/src/js/l.geosearch.provider.google.js' %}"></script>
  <!-- file upload -->
  <script src="{% static 'components/dropzone/downloads/dropzone.js' %}"></script>
  <!--<script src="{% static 'components/typeahead.js/dist/typeahead.js' %}"></script>-->
  <!-- date input -->
  <script src="{% static 'components/lodash/dist/lodash.js' %}"></script>
  <script src="{% static 'components/momentjs/moment.js' %}"></script>
  <script src="{% static 'components/CLNDR/clndr.js' %}"></script>
  {% endcompress %}

  <script type="text/javascript">
    //var report_submit_id = {{report_submit_id|json}};
    //reform.data.victims = {{victims|json}};
    //reform.data.reports = {{reports|json}};
    reform.urls.submit = {% url 'incidents:submit' as submit_url %}{{submit_url|json}};
    reform.urls.similar = {% url 'incidents:similar_reports' as submit_url %}{{submit_url|json}};
    reform.urls.upload = {% url 'incidents:submit-upload' as upload_url %}{{upload_url|json}};
  </script>

  {% compress js %}
  <script src="{% static 'incidents/scripts/submit.js' %}"></script>
  {% endcompress %}

{% endblock %}
