{% extends "layouts/default.html" %}

{% block view_title %}Delete Feature | {% endblock %}

{% block view_content %}
<div class="container">

	<div class="page-header">
		<h1>Feature<small>Delete</small></h1>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset2 span8">

				<form class="form-horizontal" action="{% url 'features:delete' object.id %}" method="post">
					{% csrf_token %}

					<div class="control-group">
						<div class="controls">
							<dl>
								<dt>Slug</dt>
								<dd>{{object.slug}}</dd>
								<dt>Definition</dt>
								<dd>{{object.definition}}</dd>
							</dl>
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							Are you sure that you want to delete this record?
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-danger">Yes</button>
						<a href="{% url 'features:list' %}" class="btn">Cancel</a>
					</div>

				</form>

			</div>
		</div>
	</div>

</div>
{% endblock %}
