{% extends "layouts/default.html" %}

{% load crispy_forms_tags %}

{% block view_title %}Edit Feature | {% endblock %}

{% block view_content %}
<div class="container">

	<div class="page-header">
		<h1>Feature <small>Edit</small></h1>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset2 span8">

			{% comment %}
				<form>
					{{form}}
				</form>

				<form>
					{% for field in form %}
						<div class="control-group">
							{{ field.label_tag }}
							<div class="controls">
								{{ field }}
								<span class="help-block">
									<p class="text-error">{{ field.errors }}</p>
								</span>
							</div>

						</div>
					{% endfor %}
				</form>
			{% endcomment %}

				<form class="form-horizontal" action="{% url 'features:edit' feature.id %}" method="post">
					{% csrf_token %}

					{{form|crispy}}

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Submit</button>
						<a href="{% url 'features:list' %}" class="btn">Cancel</a>
					</div>

				</form>

			</div>
		</div>
	</div>

</div>
{% endblock %}
