{% extends "layouts/default.html" %}

{% load crispy_forms_tags %}

{% block view_title %}New Feature | {% endblock %}

{% block view_content %}
<div class="container">

	<div class="page-header">
		<h1>Feature <small>Add</small></h1>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset2 span8">

				<form class="form-horizontal" action="{% url 'features:create' %}" method="post">
					{% csrf_token %}

					{{form|crispy}}

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Submit</button>
						<a href="{% url 'features:list' %}" class="btn">Cancel</a>
					</div>

				</form>

			</div>
		</div>
	</div>

</div>
{% endblock %}
