{% extends "layouts/default.html" %}

{% block view_title %}Feature Details | {% endblock %}

{% block view_content %}

<div class="page-header">
	<h1>Feature<small>Detail</small></h1>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="offset2 span8">

			<form class="form-horizontal">

				<div class="control-group">
					<div class="controls">
						<dl>
							<dt>Slug</dt>
							<dd>{{object.slug}}</dd>
							<dt>Definition</dt>
							<dd>{{object.definition}}</dd>
						</dl>
					</div>
				</div>

				<div class="form-actions">
					<a href="{% url 'features:list' %}" class="btn"><i class="icon-back"></i> Back</a>
					<a href="{% url 'features:edit' object.id %}" class="btn btn-warning"><i class="icon-pencil"></i> Edit</a>
					<a href="{% url 'features:delete' object.id %}" class="btn btn-danger"><i class="icon-trash"></i> Delete</a>
				</div>

			</form>

		</div>
	</div>
</div>

{% endblock %}
