{% extends "layouts/default.html" %}

{% load staticfiles %}

{% block view_title %}Report Submission | {% endblock %}

{% block view_content %}
<div class="container" ng-controller="ReportIncidentCtrl">

		<div class="well report-incident-form">

			<div class="container-fluid" ng-controller="ReportIncidentCtrl">

				<div class="row-fluid">
					<div class="span12"><h1 class="text-center">You're</h1></div>
				</div>

				<div class="row-fluid">
					<div class="span6">
						<a class="btn btn-large btn-block btn-danger">Victim</a>
					</div>
					<div class="span6">
						<a class="btn btn-large btn-block btn-success">Witness</a>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span6">
						You have been a victim of CATEGORY that happened at LOCATION on DATETIME
					</div>
					<div class="span6">
						MAP
					</div>
				</div>

				<div class="row-fluid">
					<div class="span6">
						<textarea placeholder="Describe what happened" rows="5" class="input-block-level"></textarea>
					</div>
					<div class="span6">
						<textarea placeholder="Provide evidence" rows="5" class="input-block-level"></textarea>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span6">
						<textarea placeholder="Victim" rows="5" class="input-block-level"></textarea>
					</div>
					<div class="span6">
						<textarea placeholder="Aggressor" rows="5" class="input-block-level"></textarea>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						<input type="text" class="input-block-level" placeholder="Features">
					</div>
				</div>

				<div class="">
					<a href="" class="btn btn-block btn-warning btn-large">Report</a>
				</div>

			</div>
		</div>

	</div>
{% endblock %}

{% block view_styles %}
{% endblock %}

{% block view_scripts %}
	<script src="{% static 'report_submission/scripts/report-submission.js' %}"></script>
{% endblock %}
