/* line 6, dashboard.scss */
.ui-timeline-story {
  margin: 4px;
  -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.6);
  box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.6);
}

/* line 11, dashboard.scss */
.section-shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.6);
}
