@import "../../components-mod/L.GeoSearch/src/css/l.geosearch.css";
@import "../../components/dropzone/downloads/css/basic.css";
//@import "../../components/dropzone/downloads/css/dropzone.css";


#wizard-1-header {

}

#wizard-2-victim {

}

#wizard-2-witness {

}

.input-area {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 180px;
	overflow: scroll;
}
