@import url(../../components-mod/L.GeoSearch/src/css/l.geosearch.css);
@import url(../../components/dropzone/downloads/css/basic.css);
/* line 18, report-submit.scss */
.input-area {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 180px;
  overflow: scroll;
}
