
@import "../../../../base/static/theme/sass-bootstrap/lib/_variables.scss";
@import "../../../../base/static/theme/sass-bootstrap/lib/_mixins.scss";

body {
	padding-top: 120px;
}

#top-bg {
	height: 100px;
}

#ui-wizard-progress-bar {
	position: fixed;
	top: 80px;
	width: 100%;
	z-index: 100;
}

#report-form {
	margin : 0;
}

#report-incident-form {
	margin : 0;
}

.input-area {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 180px;
	overflow: auto;
}

#dateinput
{
	max-width: 600px;
	margin: 0 auto;
	background-color: #f4f4f4;
	/*
	-moz-box-shadow: 4px 4px 0 darken(darkGray, 5%);
	-webkit-box-shadow: 4px 4px 0 darken(darkGray, 5%);
	box-shadow: 4px 4px 0 darken(darkGray, 5%);
	*/

	/* padding-bottom: 12px; */

	$time: 0.5s;

	.noselect
	{
		-webkit-user-select: none; /* Chrome/Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
	}

	@mixin vertical-padding($size: 4px)
	{
		padding-top: $size;
		padding-bottom: $size;
	}

	.controls
	{
		background-color: lightGray;
		color: white;

		.clndr-previous-button, .clndr-next-button, .clndr-previous-year-button, .clndr-next-year-button
		{
			width: 10%;
			@include vertical-padding;
			display: inline-block;
			text-align: center;
			cursor: pointer;
			@extend .noselect;
			@include transition(background-color $time);
			&:hover
			{
				background-color: darken(lightGray, 10%);
			}
		}
		.month,
		{
			width: 60%;
			@include vertical-padding;
			display: inline-block;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
		}
	}

	.days-of-the-week
	{
		width: 100%;
		// background-color: lightGray;
		.header-day
		{
			//@extend .clearfix;
			float: left;
			width: 14.2857%;
			padding: 12px 0;
			text-align: center;
		}
	}

	.days
	{
		.day, .empty
		{
			float: left;
			width: 14.2857%;
			padding: 12px 0;
			text-align: center;
			cursor: pointer;

			&.today
			{
				font-weight: bold;
				/*background-color: lightGray;
				-moz-box-shadow: inset 0 0 8px #d4d4d4;
				-webkit-box-shadow: inset 0 0 8px #d4d4d4;
				box-shadow: inset 0 0 8px #d4d4d4;
				*/
			}

			&.event
			{
				color: blue
			}

			&.selected
			{
				color: $white;
				background-color: $btnPrimaryBackground;
				@include box-shadow(inset 0 0 8px #d4d4d4);
			}
		}
	}

}

.ui-similar-report-candidate {
	margin: 4px;
	border: 1px transparent solid;
	@include transition(border-color .1s linear);
	&.ui-similar {
		border-color: $red;
		@include box-shadow(0 0 5px rgba($red, 0.5));
		&.ui-similar-1 {
			@include box-shadow(0 0 10px rgba($red, 0.6));
		}
		&.ui-similar-2 {
			@include box-shadow(0 0 15px rgba($red, 0.7));;
		}
		&.ui-similar-3 {
			@include box-shadow(0 0 20px rgba($red, 0.8));;
		}
		&.ui-similar-4 {
			@include box-shadow(0 0 25px rgba($red, 0.9));;
		}
	}
}

.ui-similar-category {}

.ui-similar-location {}

.ui-similar-datetime {}

.ui-similar-victim {}


.ui-similar-category .ui-similar-report-category {
	color: darken($red, 5%);
	font-weight: bold;
}

.ui-similar-location .ui-similar-report-location {
	color: darken($red, 10%);
	font-weight: bold;
}

.ui-similar-datetime .ui-similar-report-datetime {
	color: darken($red, 15%);
	font-weight: bold;
}

.ui-similar-victim .ui-similar-report-victim {
	color: $red;
	font-weight: bold;
}

@media (max-width: 767px) {

	#ui-wizard-progress-bar {
		top: 50px;
		.progress {
			margin: 0;
		}
	}

}
