/* line 2, submit.scss */
.input-area {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 180px;
  overflow: auto;
}

/* line 13, submit.scss */
#ui-wizard-progress-bar {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 100;
}

/* line 20, submit.scss */
body {
  padding-top: 120px;
}
