
# Build and Temporary files
*.log
*.old
*.pot
*.pyc
*.sqlite3
*.mo

# Tools
.env*
node_modules
*.sublime-*
sync-local.err
sync-local.out
sync-server.err
sync-server.out
.project
.pydevproject
.checkstyle
.settings
.sass-cache

/base/static/components
/base/static/theme/components
/base/static/theme/new/components

/reporto/media
/reporto/static
/data

