
*.log
*.pot
*.pyc
local_settings.py

# Virtual environment
.env*

# Tools
node_modules
*.sublime-*
/reform_tn/development.sqlite3
/reform_tn/static
/reform_tn/media
components
.sass-cache
/.project
/.pydevproject
/.checkstyle
/.settings
