
@import "../../../../base/static/theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/variables";
@import "../../../../base/static/theme/variables";
@import "../../../../base/static/theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins";

#ui-comments {
	margin-left: 20px;
}

.ui-comment {
	padding: 4px;
}

.ui-comment blockquote {
	margin-bottom: 0;
}

#ui-no-comments {

}
