{% extends "layouts/default.html" %}

{% load static custom compress %}

{% block view_title %}Violations/Appreciations Dashboard | {% endblock %}

{% block view_content %}

    <div class="page-header">
      <h1 class="text-center">Violations/Appreciations Dashboard</h1>
    </div>

    <div class="jumbotron clearfix" style="padding: 20px 40px;">
      <div class="btn-group-vertical pull-right">
        <a class="btn btn-danger btn-lg" href="{% url 'violations:submit' %}" style="margin: 10px"><i class="fa fa-plus"></i> Report a Violation</a>
        <a class="btn btn-success btn-lg" href="{% url 'appreciations:submit' %}" style="margin: 10px"><i class="fa fa-plus"></i> Appreciate Police Work</a>
      </div>

      {% if violations_list %}
      <div style="margin: 0;">
          {% with report=violations_list.0 %}
          <div>
              <h2 style="margin-top: 0;">Latest Report</h2>
              <span class="label label-info victim"><i class="fa fa-user"></i> {{report.victim}}</span>
              has been a victim of
              <span class="label label-info category">{{report.category}}</span>
              happened in
              <span class="label label-info location"><i class="fa fa-map-marker"></i> {{report.location_text}}</span>
              on
              <span class="label label-info datetime"><i class="fa fa-calendar"></i> {{report.datetime}}</span>
              {% if report.is_verified %}<span class="badge badge-success">Verified <i class="fa fa-ok"></i></span>{% endif %}
              <a class="btn btn-not" href="{% url 'violations:view' report.id %}" target="_blank" title="Click to view report" _data-toggle="modal" _data-target="#ui-report-view-modal">
                  <i class="fa fa-external-link-square fa-lg"></i>
              </a>
          </div>
          {% endwith %}
      </div>
      {% elif appreciations_list %}
      {% else %}
      <div style="margin: 0;">
        <h2>There is no reports!</h2>
      </div>
      {% endif %}
    </div>

    {% if violations_list or appreciations_list %}
    <div class="well_">

      <!--
      <div class="row">
        <div class="col-md-12">
          <div id="ui-violations-dates-chart" style="height: 300px;"></div>
        </div>
      </div>
      -->

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="ui-reports-by-date-chart" style="height: 300px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <!--<h2>Map</h2>-->
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="ui-timeline-map" class="ui-timeline-map" style="width:100%; height: 400px"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Violations</h2>
            </div>
            <div class="panel-body">
              <div id="ui-violations-timeline-list" class="ui-timeline-list clearfix">

                <div class="ui-search">
                  <form action="{% url 'search:search' %}">
                    <div class="input-group">
                      <input name="q" value="{{request.GET.q}}" class="ui-search-input form-control" placeholder="Type to search ...">
                      <span class="input-group-btn">
                        <button class="ui-search btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        <button class="ui-search-clear btn btn-default" type="button"><i class="fa fa-times"></i></button>
                      </span>
                    </div>
                  </form>
                </div>

                <div class="ui-pagination text-center">
                  <ul class="pagination pagination-sm">
                    <li class="{% if violations_pagination.current == 1 %}disabled{% endif %}">
                      <a class="ui-pagination-control ui-pagination-first" href="{{request.path}}?violations-page=1"><i class="fa fa-arrow-left"></i> First</a>
                    </li>

                    <li class="{% if violations_pagination.current == 1 %}disabled{% endif %}">
                      <a class="ui-pagination-control ui-pagination-previous" href="{{request.path}}?violations-page={{ violations_pagination.current|add:-1 }}"><i class="fa fa-chevron-left"></i> Previous</a>
                    </li>

                    <li class="disabled"><span class="ui-pagination-indicator">{{violations_pagination.current}} / {{violations_pagination.pages}}</span></li>

                    <li class="{% if violations_pagination.current == violations_pagination.pages %}disabled{% endif %}">
                      <a class="ui-pagination-control ui-pagination-next" href="{{request.path}}?violations-page={{ violations_pagination.current|add:1 }}">Next <i class="fa fa-chevron-right"></i></a>
                    </li>

                    <li class="{% if violations_pagination.current == violations_pagination.pages %}disabled{% endif %}">
                      <a class="ui-pagination-control ui-pagination-last" href="{{request.path}}?violations-page={{ violations_pagination.pages }}">Last <i class="fa fa-arrow-right"></i></a>
                    </li>
                  </ul>
                </div>

                <ul class="ui-list list-group">
                  {% include "violations/dashboard_violations_list.html" with report_list=violations_list %}
                </ul>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Appreciations</h2>
            </div>
            <div class="panel-body">
              <div id="ui-appreciations-timeline-list" class="ui-timeline-list clearfix">

                <div class="ui-search">
                  <form action="{% url 'search:search' %}">
                    <div class="input-group">
                      <input name="q" value="{{request.GET.q}}" class="ui-search-input form-control" placeholder="Type to search ...">
                      <span class="input-group-btn">
                        <button class="ui-search btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        <button class="ui-search-clear btn btn-default" type="button"><i class="fa fa-times"></i></button>
                      </span>
                    </div>
                  </form>
                </div>

                <div class="ui-pagination text-center">
                  <ul class="pagination pagination-sm">
                    <li class="{% if appreciations_pagination.current == 1 %}disabled{% endif %}">
                      <a class="ui-pagination-control ui-pagination-first" href="{{request.path}}?appreciations-page=1"><i class="fa fa-arrow-left"></i> First</a>
                    </li>

                    <li class="{% if appreciations_pagination.current == 1 %}disabled{% endif %}">
                      <a class="ui-pagination-control ui-pagination-previous" href="{{request.path}}?appreciations-page={{ appreciations_pagination.current|add:-1 }}"><i class="fa fa-chevron-left"></i> Previous</a>
                    </li>

                    <li class="disabled"><span class="ui-pagination-indicator">{{appreciations_pagination.current}} / {{appreciations_pagination.pages}}</span></li>

                    <li class="{% if appreciations_pagination.current == appreciations_pagination.pages %}disabled{% endif %}">
                      <a class="ui-pagination-control ui-pagination-next" href="{{request.path}}?appreciations-page={{ appreciations_pagination.current|add:1 }}">Next <i class="fa fa-chevron-right"></i></a>
                    </li>

                    <li class="{% if appreciations_pagination.current == appreciations_pagination.pages %}disabled{% endif %}">
                      <a class="ui-pagination-control ui-pagination-last" href="{{request.path}}?appreciations-page={{ appreciations_pagination.pages }}">Last <i class="fa fa-arrow-right"></i></a>
                    </li>
                  </ul>
                </div>

                <ul id="ui-appreciations-list" class="ui-list list-group">
                  {% include "appreciations/dashboard_appreciations_list.html" with report_list=appreciations_list %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      {% if violations_list or appreciations_list %}
      <div class="row">
        <div class="col-md-6">
          {% if violations_list %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="ui-stats-features-chart"></div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          {% if appreciations_list %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="ui-stats-appreciations-by-category-chart"></div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% if violations_list %}

      <div class="row">
        <div class="col-md-4">
          <!--
          <div id="ui-stats-categories-chart"></div>
          <h3 class="text-center">Distribution by violation category</h3>
          -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="ui-stats-categories-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!--
          <div id="ui-stats-victim-gender-chart"></div>
          <h3 class="text-center">Distribution by victim's gender</h3>
          -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="ui-stats-victim-gender-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!--
          <div id="ui-stats-victim-education-chart"></div>
          <h3 class="text-center">Distribution by victim's education</h3>
          -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="ui-stats-victim-education-chart"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div id="ui-stats-categories-list"></div>
        </div>
        <div class="col-md-4">
          <div id="ui-stats-features-list"></div>
        </div>
        <div class="col-md-4">
          <div id="ui-stats-victim-gender-list"></div>
        </div>
      </div>

      {% endif %}

    </div>
    {% endif %}

{% endblock %}

{% block view_addons %}
<!-- Violations Modal -->
<div id="ui-violation-view-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ui-violation-view-modal-label" aria-hidden="true">
  <div class="modal-dialog" style="width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ui-violation-view-modal-label">Violation Details</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <a class="ui-more btn btn-primary" href=""><i class="fa fa-ellipsis-h"></i> More</a>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Appreciation Modal -->
<div id="ui-appreciation-view-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ui-appreciation-view-modal-label" aria-hidden="true">
  <div class="modal-dialog" style="width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ui-appreciation-view-modal-label">Appreciation Details</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <a class="ui-more btn btn-primary" href=""><i class="fa fa-ellipsis-h"></i> More</a>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block view_styles %}
  {% if violations_list or appreciations_list %}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.css'%}" />
  <link rel="stylesheet" href="{% static 'components/leaflet.markerclusterer/dist/MarkerCluster.Default.css'%}" />
  <link rel="stylesheet" href="{% static 'components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css'%}" />
  <link rel="stylesheet" href="{% static 'components/fancybox/source/jquery.fancybox.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'dashboard/styles/dashboard.css'%}" />
  {% endcompress %}

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.ie.css'%}" />
  <![endif]-->
  {% else %}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'dashboard/styles/dashboard.css'%}" />
  {% endcompress %}
  {% endif %}
{% endblock %}

{% block view_scripts %}
  {% if violations_list or appreciations_list %}
  <script type="text/javascript">
    reform.urls.violationView = {% url 'violations:view' 0 as url %}{{url|json}};
    reform.urls.violationsDashboard = {% url 'violations:dashboard' as url %}{{url|json}};
    reform.urls.violationsSearch = {% url 'violations:search' as url %}{{url|json}};

    reform.urls.appreciationView = {% url 'appreciations:view' 0 as url %}{{url|json}};
    reform.urls.appreciationsDashboard = {% url 'appreciations:dashboard' as url %}{{url|json}};
    reform.urls.appreciationsSearch = {% url 'appreciations:search' as url %}{{url|json}};

    reform.data.violationsCategories = {{violations_categories|json}}
    reform.data.violationsFeatures = {{violations_features|json}}
    reform.data.violationsByCategory = {{violations_by_category|json}}
    reform.data.violationsByFeature = {{violations_by_feature|json}}
    reform.data.violationsByVictimGender = {{violations_by_victim_gender|json}}
    reform.data.violationsByVictimEducation = {{violations_by_victim_education|json}}
    reform.data.violationsByDate = {{violations_by_date|json}}
    reform.data.violationsByCategoryByDate = {{violations_by_category_by_date|json}}
    reform.data.violationsLocations = {{violations_locations|json}}

    reform.data.appreciationsByDate = {{appreciations_by_date|json}}
    reform.data.appreciationsLocations = {{appreciations_locations|json}}

    /*
    reform.data.timeline = {
      pages: {{violations_pagination.pages|json}},
      current: {{violations_pagination.current|json}},
      count: {{violations_pagination.count|json}},
    };
    */
    reform.data.violationsPagination = {
      pages: {{violations_pagination.pages|json}},
      current: {{violations_pagination.current|json}},
      count: {{violations_pagination.count|json}},
    };
    reform.data.appreciationsPagination = {
      pages: {{appreciations_pagination.pages|json}},
      current: {{appreciations_pagination.current|json}},
      count: {{appreciations_pagination.count|json}},
    };
  </script>
  {% compress js %}
  <script src="{% static 'components/blockui/jquery.blockUI.js' %}"></script>
  <script src="{% static 'components/leaflet/dist/leaflet.js' %}"></script>
  <script type="text/javascript">L.Icon.Default.imagePath = "{% static 'components/leaflet/dist/images' %}";</script>
  <script src="{% static 'components/leaflet.markerclusterer/dist/leaflet.markercluster-src.js' %}"></script>
  <script src="{% static 'components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js' %}"></script>
  <script src="{% static 'components/highcharts.com/js/highcharts.src.js' %}"></script>
  <script src="{% static 'scripts/highcharts-theme.js' %}"></script>
  <script src="{% static 'components/highcharts.com/js/modules/exporting.src.js' %}"></script>
  <script src="{% static 'components/jquery.scrollTo/jquery.scrollTo.js' %}"></script>
  <script src="{% static 'utils/pagination.js' %}"></script>
  <script src="{% static 'dashboard/scripts/dashboard.js' %}"></script>
  {% endcompress %}
  {% endif %}

{% endblock %}
