{% extends "layouts/default.html" %}

{% block view_title %}Login | {% endblock %}

{% block view_content %}
<div class="container">
	<div class="well">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form action="/login" method="post" accept-charset="UTF-8" data-ng-show="!app.state.loggedin">
	{% csrf_token %}
<div class="input-prepend">
	<span class="add-on"><i class="icon-envelope"></i></span>
	<input type="text" placeholder="Email" name="email" required>
</div>
<div class="input-prepend">
	<span class="add-on"><i class="icon-key"></i></span>
	<input type="password" placeholder="Password" name="password" required>
</div>
<div class="clearfix">
	<button class="btn-inverse btn button pull-right" type="submit">Sign in</button>
</div>
</form>

{#% <form method="post" action="{% url 'django.contrib.auth.views.login' %}"> %#}
<!--
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
-->

	</div>
</div>
{% endblock %}
