{% extends "layouts/default.html" %}

{% load i18n widget_tweaks static custom compress crispy_forms_tags %}

{% block view_title %}Sign up | {% endblock %}

{% block view_content %}

	<div class="page-header">
		<h1 class="text-center">{% trans 'Sign up' %}</h1>
	</div>

	<div class="row">
    <div class="col-md-8 col-md-offset-2 well">

			<form action="{% url 'signup' %}" class="form-horizontal" role="form" method="post">
				{% csrf_token %}
				{{ form|crispy_form_horizontal }}
				<input type="hidden" name="next" value="{{ next }}" />
				<input class="btn btn-primary btn-block" name="commit" type="submit" value="{% trans 'Sign up' %}">
			</form>

    </div>
  </div>

{% endblock %}
