{% load static thumbnail custom i18n l10n %}

{% trans 'N/A' as NOT_AVAILABLE %}

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <hr>
          <h2 class="text-center" style="line-height: 2em;">
            {% if user.is_admin and show_all %}
            <a href="#" id="id_category" class="-ui-editable" data-type="select" data-source="{{categories|json|force_escape}}" data-value="{{report.category.id}}" data-pk="{{report.pk}}" data-name="category" data-url="{% url 'violations:update_partial' report.id %}" data-title="Category">{{report.category}}</a>
            {% trans 'on' %}
            <a href="#" id="id_datetime" class="-ui-editable" data-type="datetime" data-value="{{report.datetime|date:'Y-m-d H:i'}}" data-pk="{{report.pk}}" data-name="datetime" data-url="{% url 'violations:update_partial' report.id %}" data-title="Date and time">{{report.datetime}}</a>
            {% trans 'at' %}
            <a href="#" id="id_location" class="-ui-editable" data-type="text" data-pk="{{report.pk}}" data-name="location_text" data-url="{% url 'violations:update_partial' report.id %}" data-title="Location">{{report.location_text}}</a>

            {% else %}
              {{report.category}} {% trans 'on' %} {{report.datetime}} {% trans 'at' %} {{report.location_text}}
            {% endif %}

            {% if report.is_verified %}
            <span class="text-success" title="{% trans 'Verified' %}"><i class="fa fa-check-square"></i></span>
            {% endif %}
            {% comment %}
            {% if report.is_closed %}
            <span class="text-danger" title="{% trans 'Closed' %}"><i class="fa fa-lock"></i></span>
            {% endif %}
            {% endcomment %}
          </h2>
          {% if show_all %}
          <div class="text-center">
            {% if user.is_admin %}
            <a class="btn btn-link" href="{% url 'admin:violations_report_change' report.id %}" target="_blank"><i class="fa fa-pencil text-warning"></i> {% trans 'Edit as Super User' %}</a>
            {% endif %}
            {% if user.is_moderator %}
            <a id="ui-verify-button" class="btn btn-link" href="{% url 'violations:verify' report.id %}"><i class="fa fa-check text-success"></i> {% trans 'Verify' %}</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div id="map" style="width:100%; height: 300px"></div>
          <!--<p class="text-center">{{report.location_text}}</p>-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <hr>
          <h3><i class="fa fa-user"></i> {% trans 'Victim' %}</h3>
          <dl class="dl-horizontal">
            <dt>{% trans 'Category' %}</dt>
            <dd>{{report.victim.get_category_display}}</dd>
            <dt>{% trans 'First name' %}</dt>
            <dd>{{report.victim.firstname}}</dd>
            <dt>{% trans 'Last name' %}</dt>
            <dd>{{report.victim.lastname}}</dd>
            <dt>{% trans 'Gender' %}</ddt>
            <dd>{{report.victim.get_gender_display}}</dd>
            <dt>{% trans 'Marital Status' %}</dt>
            <dd>{{report.victim.get_marital_status_display}}</dd>
            <dt>{% trans 'Social Class' %}</dt>
            <dd>{{report.victim.get_social_class_display}}</dd>
            <dt>{% trans 'Age' %}</dt>
            <dd>{{report.victim.age|default:NOT_AVAILABLE}}</dd>
            <dt>{% trans 'Education' %}</dt>
            <dd>{{report.victim.get_education_display}}</dd>
            <dt>{% trans 'Profession' %}</dt>
            <dd>{{report.victim.profession|default:NOT_AVAILABLE}}</dd>
          </dl>
        </div>
        <div class="col-md-6">
          <hr>
          <h3><i class="fa fa-male"></i> {% trans 'Aggressor' %}{% if user.is_admin and show_all %} <a id="ui-aggressor-edit" href="#" title="Edit" class="btn btn-sm"><i class="fa fa-pencil"></i></a>{% endif %}</h3>
          {% if user.is_admin and show_all %}
          <p id="ui-aggressor" class="-ui-editable" data-type="textarea" data-value="{{report.aggressor}}" date-toggle="manual" data-pk="{{report.pk}}" data-name="aggressor" data-url="{% url 'violations:update_partial' report.id %}" data-title="Aggressor">{{report.aggressor|default:NOT_AVAILABLE}}</p>
          {% else %}
          <p>{{report.aggressor|default:NOT_AVAILABLE}}</p>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <hr>
          <h3><i class="fa fa-ellipsis-h"></i> {% trans 'Description' %}{% if user.is_admin and show_all %} <a id="ui-description-edit" href="#" title="Edit" class="btn btn-sm"><i class="fa fa-pencil"></i></a>{% endif %}</h3>
          {% if user.is_admin and show_all %}
          <p id="ui-description" class="-ui-editable" data-type="textarea" data-value="{{report.description}}" date-toggle="manual" data-pk="{{report.pk}}" data-name="description" data-url="{% url 'violations:update_partial' report.id %}" data-title="Description">{{report.description|urlize}}</p>
          {% else %}
          <p>{{report.description|urlize}}</p>
          {% endif %}
          {% if report.sources %}
          <p>
            {% trans 'Sources:' %}<br>
            {{report.sources | markdown}}
          </p>
          {% endif %}
        </div>
        <div class="col-md-6">
          <hr>
          <h3><i class="fa fa-picture-o"></i> {% trans 'Media Attachments' %}</h3>{% get_media_prefix as MEDIA_PREFIX %}
          {% if report.media.count %}
          <ul class="list-unstyled">
            {% for media in report.media.all %}
            <li class="-col-md-4" style="display: inline-block; /* width: auto; */">
              {% comment %}
              <a class="fancybox" href="{% if media.is_file %}{{ media.file.url }}{% else %}{{media.url}}{% endif %}" target="_blank" rel="group">
              {% endcomment %}
              {% comment %}
              <a class="fancybox" href="{{media.url}}" target="_blank" rel="group">
                {% setvar img_url as "" %} 
                {% if media.is_file %}
                {% setvar media.file|thumbnail_url:'media' as img_url %}
                {% elif media.is_youtube %}
                {% setvar  media.get_youtube_thumbnail_url as img_url %}
                {% endif %}
                {% if img_url == "" %}
                {% setvar media.url as img_url %}
                {% endif %}
                {{img_url}}"
                <img src="{{img_url}}" alt="" style="height: 100px; width: auto;" class="thumbnail">
              </a>
              {% endcomment %}
              {% if media.is_file %}
              <a class="fancybox" href="{{ media.url }}" target="_blank" rel="group">
                <img src="{{ media.file|thumbnail_url:'media'|default:media.url }}" alt="" style="height: 100px; width: auto;" class="thumbnail">
              </a>
              {% elif media.is_youtube %}
              <a class="fancybox" href="{{ media.url }}" target="_blank" rel="group">
                <img src="{{ media.get_youtube_thumbnail_url }}" alt="" style="height: 100px; width: auto;" class="thumbnail">
              </a>
              {% elif media.is_facebook %}
              <a class="fancybox" data-fancybox-type="iframe" href="{{ media.get_facebook_embed_url }}" target="_blank" rel="group">
                <img src="{% static 'facebook-video.png' %}" alt="" style="height: 100px; width: auto;" class="thumbnail">
              </a>
              {% else  %}
              <a class="fancybox" href="{{ media.url }}" target="_blank" rel="group">
                <img src="{{ media.url }}" alt="" style="height: 100px; width: auto;" class="thumbnail">
              </a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <span>{% trans 'No attachments!' %}</span>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <hr>
          <h3><i class="fa fa-tags"></i> {% trans 'Features' %}{% if user.is_admin and show_all %} <a id="ui-features-edit" href="#" title="Edit" class="btn btn-sm"><i class="fa fa-pencil"></i></a>{% endif %}</h3>
          <ul id="ui-features" class="list-inline -ui-editable" data-type="checklist" data-source="{{features|json|force_escape}}" data-value="[{% for feature in report.features.all %}{{feature.id}},{% endfor %}]" data-pk="{{report.pk}}" data-name="features" data-url="{% url 'violations:update_partial' report.id %}" data-title="Features">
          {% for feature in report.features.all  %}
            <li><span class="label label-default">{{feature}}</span></li>
          {% endfor %}
          </ul>
        </div>
      </div>

      {% if user.is_authenticated and show_all %}
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <hr>
          <h3><i class="fa fa-comments"></i> {% trans 'Comments' %}</h3>

          <ul id="ui-comments" class="list-group">
            {% for comment in report.comments.all  %}
              {% include "violations/view_comment.html" %}
            {% empty %}
            <li id="ui-no-comments">{% trans 'No comments!' %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% if user.is_authenticated %}
      <div class="row">
        <fieldset id="ui-comments-area">
          <div class="col-md-offset-1 col-md-4">
            <textarea id="ui-add-comment-content" class="form-control" placeholder="Add new comment" required></textarea>
            <input id="ui-add-comment-attachment" type="file" accept="image/*" hidden>
          </div>
          <div class="col-md-4">
            <button class="btn btn-block" id="ui-add-comment-attachment-button">
              <i id="ui-comment-attachment-icon" class="fa fa-camera fa fa-2x"></i>
              <img id="ui-comment-attachment-image" style="width: 100%;" hidden>
            </button>
          </div>
          <div class="col-md-2">
            <button id="ui-add-update-comment-button" class="btn btn-block btn-info" type="button"><i class="fa fa-plus"></i> {% trans 'Update' %}</button>
            <button id="ui-add-correction-comment-button" class="btn btn-block btn-warning" type="button"><i class="fa fa-plus"></i> {% trans 'Correction' %}</button>
          </div>
        </fieldset>
      </div>
      {% endif %}
      {% endif %}
