/* line 5, dashboard.scss */
.ui-timeline-map {
  background-color: white;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, dashboard.scss */
.ui-timeline-list {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 17, dashboard.scss */
.ui-timeline-story {
  margin: 6px;
  -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.6);
  box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.6);
  border: 1px solid #ecf0f1;
  vertical-align: middle !important;
}

/* line 24, dashboard.scss */
.ui-timeline-no-entries {
  text-align: center !important;
}

/* line 28, dashboard.scss */
.section-shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.6);
}

/*
#ui-report-view-modal {
  max-height: 80%;
  overflow-y: auto;
   width:70%;
   margin-left: -35%;

  .modal-body {
    max-height: none;
    text-align: center;
  }
}
*/
