/* line 6, login.scss */
.btn-signin-facebook {
  color: white;
  background-color: #3c5a99;
  border-color: #dadada;
}
/* line 15, ../theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-signin-facebook:hover, .btn-signin-facebook:focus, .btn-signin-facebook:active, .btn-signin-facebook.active, .open > .btn-signin-facebook.dropdown-toggle {
  color: white;
  background-color: #2e4474;
  border-color: #bbbbbb;
}
/* line 22, ../theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-signin-facebook:active, .btn-signin-facebook.active, .open > .btn-signin-facebook.dropdown-toggle {
  background-image: none;
}
/* line 32, ../theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-signin-facebook.disabled, .btn-signin-facebook.disabled:hover, .btn-signin-facebook.disabled:focus, .btn-signin-facebook.disabled:active, .btn-signin-facebook.disabled.active, .btn-signin-facebook[disabled], .btn-signin-facebook[disabled]:hover, .btn-signin-facebook[disabled]:focus, .btn-signin-facebook[disabled]:active, .btn-signin-facebook[disabled].active, fieldset[disabled] .btn-signin-facebook, fieldset[disabled] .btn-signin-facebook:hover, fieldset[disabled] .btn-signin-facebook:focus, fieldset[disabled] .btn-signin-facebook:active, fieldset[disabled] .btn-signin-facebook.active {
  background-color: #3c5a99;
  border-color: #dadada;
}
/* line 38, ../theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-signin-facebook .badge {
  color: #3c5a99;
  background-color: white;
}

/* line 10, login.scss */
.btn-signin-google {
  color: white;
  background-color: #547dbf;
  border-color: #dadada;
}
/* line 15, ../theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-signin-google:hover, .btn-signin-google:focus, .btn-signin-google:active, .btn-signin-google.active, .open > .btn-signin-google.dropdown-toggle {
  color: white;
  background-color: #3d64a3;
  border-color: #bbbbbb;
}
/* line 22, ../theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-signin-google:active, .btn-signin-google.active, .open > .btn-signin-google.dropdown-toggle {
  background-image: none;
}
/* line 32, ../theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-signin-google.disabled, .btn-signin-google.disabled:hover, .btn-signin-google.disabled:focus, .btn-signin-google.disabled:active, .btn-signin-google.disabled.active, .btn-signin-google[disabled], .btn-signin-google[disabled]:hover, .btn-signin-google[disabled]:focus, .btn-signin-google[disabled]:active, .btn-signin-google[disabled].active, fieldset[disabled] .btn-signin-google, fieldset[disabled] .btn-signin-google:hover, fieldset[disabled] .btn-signin-google:focus, fieldset[disabled] .btn-signin-google:active, fieldset[disabled] .btn-signin-google.active {
  background-color: #547dbf;
  border-color: #dadada;
}
/* line 38, ../theme/bootstrap-sass-twbs/vendor/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-signin-google .badge {
  color: #547dbf;
  background-color: white;
}
