/*-------------------------------------------------
| GLOBAL STYLES
\*/
/* Padding below the footer and lighter body text */
/* line 8, main.scss */
body {
  padding-top: 100px;
  padding-bottom: 60px;
  color: #5a5a5a;
  background: url("../theme/cream_pixels.png");
}

/* line 15, main.scss */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: whitesmoke;
}

/* line 24, main.scss */
.container .credit {
  margin: 10px 0;
}

/*-------------------------------------------------
| CUSTOMIZE THE NAVBAR
\*/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 33, main.scss */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
/* line 47, main.scss */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* Downsize the brand/project name a bit */
/* line 55, main.scss */
.navbar .brand {
  padding: 14px 20px 16px;
  /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/* Navbar links: increase padding for taller navbar */
/* line 63, main.scss */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
/* line 68, main.scss */
.navbar .btn-navbar {
  margin-top: 10px;
}

/*-------------------------------------------------
| RESPONSIVE CSS
\*/
/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 85, main.scss */
  body {
    padding-top: 90px;
  }

  /* line 89, main.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 94, main.scss */
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 104, main.scss */
  body {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  /* line 109, main.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 114, main.scss */
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 119, main.scss */
  .navbar-inner {
    margin: -20px;
  }

  /* line 123, main.scss */
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 133, main.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 138, main.scss */
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 143, main.scss */
  .navbar-inner {
    margin: -20px;
  }

  /* line 147, main.scss */
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*
@media (max-width: 979px) {

  body {
    padding-top: 80px;
  }

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }

}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }

}
*/
/* line 190, main.scss */
#mainView {
  position: fixed;
  z-index: 99999;
  /* margin: 20px; */
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  padding: 20px;
  background-color: white;
  /* border: 2px grey solid; */
  overflow: auto;
}

/* line 205, main.scss */
.report-incident-dialog {
  top: 10%;
  left: 10%;
  width: 80%;
  margin-left: auto;
}

/* line 222, main.scss */
.report-incident-form .row-fluid {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 233, main.scss */
.natural-language-form {
  /* placeholder */
}
/* line 235, main.scss */
.natural-language-form p.text {
  line-height: 2em;
  vertical-align: middle;
}
/* line 240, main.scss */
.natural-language-form input, .natural-language-form .natural-language-input {
  background: none;
  border: none;
  text-align: center;
}
/* line 247, main.scss */
.natural-language-form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
  text-align: center;
}
/* line 250, main.scss */
.natural-language-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  text-align: center;
}
/* line 253, main.scss */
.natural-language-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  text-align: center;
}
/* line 256, main.scss */
.natural-language-form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
  text-align: center;
}

/*-------------------------------------------------
| FIXES
\*/
/* fix boostrap-select width */
/* line 270, main.scss */
.bootstrap-select:not([class*="span"]) {
  width: 100%;
}

/* fix boostrap-select colors in natural language form */
/* line 275, main.scss */
.boostrap-select-colors-fix {
  background-color: transparent;
  color: darkgray;
  text-align: center;
}
