/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000310}}
body {
  padding-top: 100px;
  padding-bottom: 60px;
  color: #5a5a5a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000316}}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: whitesmoke;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000325}}
.container .credit {
  margin: 10px 0;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000333}}
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000347}}
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* Downsize the brand/project name a bit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000355}}
.navbar .brand {
  padding: 14px 20px 16px;
  /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/* Navbar links: increase padding for taller navbar */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000363}}
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000368}}
.navbar .btn-navbar {
  margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000384}}
  body {
    padding-top: 90px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000388}}
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\0000393}}
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003103}}
  body {
    padding-top: 70px;
    padding-bottom: 50px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003108}}
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003113}}
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003118}}
  .navbar-inner {
    margin: -20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003122}}
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003132}}
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003137}}
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003142}}
  .navbar-inner {
    margin: -20px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003146}}
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*
@media (max-width: 979px) {

  body {
    padding-top: 80px;
  }

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }

}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }

}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003189}}
#mainView {
  position: fixed;
  z-index: 99999;
  /* margin: 20px; */
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  padding: 20px;
  background-color: white;
  /* border: 2px grey solid; */
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003204}}
.report-incident-dialog {
  top: 10%;
  left: 10%;
  width: 80%;
  margin-left: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/DataOpt\/Workspace\/Reform\/reform-platform-front\/app\/styles\/main\.scss}line{font-family:\00003221}}
.report-incident-form .row-fluid {
  margin-top: 20px;
  margin-bottom: 20px;
}
