
@import "../../../../base/static/theme/new/bootstrap-sass/lib/variables";
@import "../../../../base/static/theme/new/variables";
@import "../../../../base/static/theme/new/bootstrap-sass/lib/mixins";

#ui-comments {
	margin-left: 20px;
}

.ui-comment {
	padding: 4px;
}

.ui-comment blockquote {
	margin-bottom: 0;
}

#ui-no-comments {

}
