
@import "../../../../base/static/theme/bootstrap-sass/lib/variables";
@import "../../../../base/static/theme/variables";
@import "../../../../base/static/theme/bootstrap-sass/lib/mixins";

/*
body {
  padding-top: 120px;
}
*/

#top-bg {
  height: 100px;
}

#ui-wizard-progress-bar {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 100;
}

#appreciation-form {
	margin : 0;
}

#appreciation-violation-form {
	margin : 0;
}

.input-area {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 180px;
	overflow: auto;
}


.bootstrap-select {
	margin: 0px;
}

/* fix boostrap-select width */
.bootstrap-select:not([class*="span"]) {
	width: 100%;
}

/* fix boostrap-select colors in natural language form */
.boostrap-select-fix {
	background-color: transparent;
	color: $gray-darker;
	text-align: center;
}

.boostrap-select-fix .filter-option {
	text-align: center;
}


#dateinput
{
	max-width: 600px;
	margin: 0 auto;
	background-color: #f4f4f4;
	/*
	-moz-box-shadow: 4px 4px 0 darken(darkGray, 5%);
	-webkit-box-shadow: 4px 4px 0 darken(darkGray, 5%);
	box-shadow: 4px 4px 0 darken(darkGray, 5%);
	*/

	/* padding-bottom: 12px; */

	$time: 0.5s;

	.noselect
	{
		-webkit-user-select: none; /* Chrome/Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
	}

	@mixin vertical-padding($size: 4px)
	{
		padding-top: $size;
		padding-bottom: $size;
	}

	.controls
	{
		background-color: lightGray;
		color: white;

		.clndr-previous-button, .clndr-next-button, .clndr-previous-year-button, .clndr-next-year-button
		{
			width: 10%;
			@include vertical-padding;
			display: inline-block;
			text-align: center;
			cursor: pointer;
			@extend .noselect;
			@include transition(background-color $time);
			&:hover
			{
				background-color: darken(lightGray, 10%);
			}
		}
		.month,
		{
			width: 60%;
			@include vertical-padding;
			display: inline-block;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
		}
	}

	.days-of-the-week
	{
		width: 100%;
		// background-color: lightGray;
		.header-day
		{
			//@extend .clearfix;
			float: left;
			width: 14.2857%;
			padding: 12px 0;
			text-align: center;
		}
	}

	.days
	{
		.day, .empty
		{
			float: left;
			width: 14.2857%;
			padding: 12px 0;
			text-align: center;
			cursor: pointer;

			&.today
			{
				font-weight: bold;
				/*background-color: lightGray;
				-moz-box-shadow: inset 0 0 8px #d4d4d4;
				-webkit-box-shadow: inset 0 0 8px #d4d4d4;
				box-shadow: inset 0 0 8px #d4d4d4;
				*/
			}

			&.event
			{
				color: blue
			}

			&.selected
			{
				color: white;
				background-color: $brand-primary;
				@include box-shadow(inset 0 0 8px #d4d4d4);
			}

      &.adjacent-month {
        color: $gray-light;
      }
		}
	}

}

.ui-similar-appreciation-candidate {
	margin: 4px;
	border: 1px transparent solid;
	@include transition(border-color .1s linear);
	&.ui-similar {
		border-color: $brand-danger;
		@include box-shadow(0 0 5px rgba(lighten($brand-danger, 10%), 0.9));
		&.ui-similar-1 {
			@include box-shadow(0 0 10px rgba(lighten($brand-danger, 5%), 0.8));
		}
		&.ui-similar-2 {
			@include box-shadow(0 0 20px rgba($brand-danger, 0.7));;
		}
		&.ui-similar-3 {
			@include box-shadow(0 0 30px rgba(darken($brand-danger, 5%), 0.7));;
		}
		&.ui-similar-4 {
			@include box-shadow(0 0 40px rgba(darken($brand-danger, 10%), 0.7));;
		}
	}
}

.ui-similar-category {}

.ui-similar-location {}

.ui-similar-datetime {}

.ui-similar-victim {}


.ui-similar-category .ui-similar-appreciation-category, .ui-similar-category .ui-similar-appreciation-category a {
	color: darken($brand-danger, 5%);
	font-weight: bold;
}

.ui-similar-location .ui-similar-appreciation-location, .ui-similar-location .ui-similar-appreciation-location a {
	color: darken($brand-danger, 10%);
	font-weight: bold;
}

.ui-similar-datetime .ui-similar-appreciation-datetime, .ui-similar-datetime .ui-similar-appreciation-datetime a {
	color: darken($brand-danger, 15%);
	font-weight: bold;
}

.ui-similar-victim .ui-similar-appreciation-victim, .ui-similar-victim .ui-similar-appreciation-victim a {
	color: $brand-danger;
	font-weight: bold;
}

@media (max-width: 767px) {

	#ui-wizard-progress-bar {
		top: 50px;
		.progress {
			margin: 0;
		}
	}

}


.ui-victim-fieldset {
	height: auto;
	.control-group {
		margin-bottom: 10px;
	}
}
