{% extends "layouts/default.html" %}

{% load i18n %}{% load url from future %}

{% block view_title %}{% trans "Sign out" %} | {% endblock %}

{% block view_content %}

  <div class="page-header">
    <h1 class="text-center">{% trans "Sign out" %}</h1>
  </div>

  <p class="lead text-center text-success">{% trans "Thanks for spending some quality time with the Web site today." %}</p>

  <p class="text-center"><a href="{% url 'home' %}" class="btn btn-primary">{% trans 'Sign in again' %}</a></p>

{% endblock %}
