                <li class="ui-timeline-story list-group-item multi-labels-lines-fix clearfix" data-latitude="{{report.latitude}}" data-longitude="{{report.longitude}}">
                  <div class="btn-group-vertical btn-group-sm pull-right">
                    <a class="btn ui-timeline-story-locator btn-not" title="Click to locate appreciation" href="https://maps.google.com/?q={{report.latitude}},{{report.longitude}}" target="_blank" data-toggle="tooltip" style="padding: 2px;">
                      <i class="fa fa-map-marker fa-lg"></i>
                    </a>
                    <a class="ui-timeline-story-link btn btn-not" href="{% url 'appreciations:view' report.id %}" target="_blank" title="Click to view report" data-toggle="tooltip" style="padding: 2px;">
                      <i class="fa fa-external-link-square fa-lg"></i>
                    </a>
                  </div>
                  <span class="label label-info category">{{report.category}}</span>
                  at
                  <span class="label label-info location"><i class="fa fa-map-marker"></i> {{report.location_text}}</span>
                  on
                  <span class="label label-info datetime">
                    <i class="fa fa-calendar"></i> {{report.datetime}}
                  </span>
                </li>
