{% extends "layouts/default.html" %}

{% load static custom crispy_forms_tags widget_tweaks compress l10n %}

{% block view_title %}Appreciate Police Work | {% endblock %}

{% block view_content %}

    <form id="appreciation-form" action="{% url 'appreciations:submit' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

    <div class="page-header">
      <h1 class="text-center">Appreciation Report Submission<small></small></h1>
    </div>

    {% if form.errors %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for field, errors in form.errors.items %}
        <div>{{field}}:{% for error in errors %} {{error}}{% endfor %}</div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="well appreciation-violation-form">

          <div class="row ui-wizard-row" id="ui-wizard-category">
            <div class="col-md-12">
              <h3>Category</h3>
              {% render_field form.category placeholder="Select a category" class+="select2 -col-md-4 btn-lg" data-style="form-control btn-lg" %}
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-location-datetime" hidden>
            <div class="col-md-6">
              <h3><i class="fa fa-map-marker"></i> Location</h3>
              <div id="map" style="width:100%; height: 300px"></div>
              {% render_field form.latitude type="hidden" %}
              {% render_field form.longitude type="hidden" %}
              {#% render_field form.location type="hidden" %#}
              <input type="hidden" id="id_location" name="location">
              <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon"> <i class="fa fa-map-marker fa-lg"></i> </span>
                {% render_field form.location_text type="text" placeholder="Location" class="form-control" -data-provide="typeahead" -data-source="reform.data.locations" -autocomplete="off" %}
              </div>
            </div>
            <div class="col-md-6">
              <h3><i class="fa fa-calendar"></i><i class="fa fa-clock-o"></i> Date and Time</h3>
              {% render_field form.datetime type="text" -type="datetime-local" class+="form-control" -required="required" style="display: none;" %}
              <div id="dateinput" style="height: 300px;">
              <script type="text/template" id="dateinput-template">
                <div class="controls">
                  <div class="clndr-previous-year-button">&lsaquo;&lsaquo;</div>
                  <div class="clndr-previous-button">&lsaquo;</div>
                  <div class="month"><%= month %> <%= year %></div>
                  <div class="clndr-next-button">&rsaquo;</div>
                  <div class="clndr-next-year-button">&rsaquo;&rsaquo;</div>
                </div>
                <div class="clndr-grid">
                  <div class="days-of-the-week clearfix">
                    <% _.each(daysOfTheWeek, function(day) { %>
                      <div class="header-day text-muted"><strong><%= day %></strong></div>
                    <% }); %>
                  </div>
                  <div class="days clearfix">
                    <% _.each(days, function(day) { %>
                      <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                    <% }); %>
                  </div>
                </div>
              </script>
              </div>
              <input id="id_date" name="date" type="hidden">
              <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon"> <i class="fa fa-clock-o fa-lg"></i> </span>
                <input id="id_time" name="time" type="time" class="form-control" placeholder="Time" value="12:00">
              </div>
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-subject" hidden>
            <div class="col-md-10 col-md-offset-1">
              <h3><i class="fa fa-user"></i> Subject</h3>
              {% render_field form.subject placeholder="Subject" required="required" class+="form-control input-lg" %}
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-description-media" hidden>
            <div class="col-md-6">
              <h3><i class="fa fa-ellipsis-h"></i> Description</h3>
              {% render_field form.description placeholder="Description" required="required" class+="form-control input-area" %}
            </div>
            <div class="col-md-6">
              <h3><i class="fa fa-picture-o"></i> Media Attachments</h3>
              <div id="ui-media-file-upload" tabindex="0" class="dropzone input-area" style="background-color: #FFF; border: 1px solid #999;"></div>
              <!--
              <button type="button" class="form-control input-area" style="padding: 0;">
                <div id="ui-media-file-upload" class="dropzone" style="background-color: #FFF; height: 100%">
                </div>
              </button>
              -->
              <ul id="ui-links-list" class="list-unstyled">
                <script id="ui-links-list-item" type="text/template">
                  <li>
                    <input type="hidden" name="links[]" value="<%= url %>">
                    <a href="<%= url %>" target="_blank"><%= url %></a>
                    <a href="#" class="ui-links-remove-button btn btn-link btn-danger"><i class="fa fa-minus-square fa-lg"></i></a>
                  </li>
                </script>
              </ul>
              <div class="input-group">
                <input id="ui-links-url-input" type="url" class="form-control" placeholder="Media Link">
                <span class="input-group-btn">
                  <a id="ui-links-add-button" href="#" class="btn btn-default"><i class="fa fa-plus-square fa-lg"></i></a>
                </span>
              </div>
            </div>
          </div>

          <div class="row ui-wizard-row" id="ui-wizard-submit" style="margin-top: 20px;" hidden>
            <div class="col-md-12">
              <button class="btn btn-success btn-block btn-lg"><i class="fa fa-plus"></i> Appreciate</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  </form>

{% endblock %}

{% block view_addons %}
    <!--
    <div id="ui-wizard-progress-bar" style="z-index: 900;">
      <div class="container progress progress-info progress-striped">
        <div class="progress-bar animated" id="ui-wizard-progress"></div>
      </div>
    </div>
    -->
{% endblock %}

{% block view_styles %}

  {% compress css %}
  {#%<link rel="stylesheet" href="{% static 'components/select2/select2.css' %}">%#}
  {#%<link rel="stylesheet" href="{% static 'components/select2-bootstrap-css/select2-bootstrap.css' %}">%#}
  <link rel="stylesheet" href="{% static 'components/bootstrap-select/bootstrap-select.css' %}">
  <link rel="stylesheet" href="{% static 'components/pines-notify/jquery.pnotify.default.css' %}">
  <!-- map -->
  <link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.css' %}" />
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.ie.css' %}" />
  <![endif]-->
  <link rel="stylesheet" href="{% static 'dependencies/L.GeoSearch/src/css/l.geosearch.css' %}" />
  <!-- file upload -->
  <link rel="stylesheet" href="{% static 'components/dropzone/downloads/css/basic.css' %}" />

  <link rel="stylesheet" href="{% static 'appreciations/styles/submit.css'%}" />
  {% endcompress %}

{% endblock %}

{% block view_scripts %}
  {% compress js %}
  {#% <script src="{% static 'components/select2/select2.js' %}"></script> %#}
  <script src="{% static 'components/bootstrap-select/bootstrap-select.js' %}"></script>
  <script src="{% static 'components/pines-notify/jquery.pnotify.js' %}"></script>
  <script src="{% static 'components/blockui/jquery.blockUI.js' %}"></script>
  <!-- Map -->
  <script src="{% static 'components/leaflet/dist/leaflet.js' %}"></script>
  <script type="text/javascript">L.Icon.Default.imagePath = "{% static 'components/leaflet/dist/images' %}";</script>
  <script src="{% static 'dependencies/L.GeoSearch/src/js/l.control.geosearch.js' %}"></script>
  <script src="{% static 'dependencies/L.GeoSearch/src/js/l.geosearch.provider.google.js' %}"></script>
  <!-- file upload -->
  <script src="{% static 'components/dropzone/downloads/dropzone.js' %}"></script>
  {#%<script src="{% static 'components/typeahead.js/dist/typeahead.js' %}"></script>%#}
  <!-- date input -->
  <script src="{% static 'components/lodash/dist/lodash.js' %}"></script>
  <script src="{% static 'components/momentjs/moment.js' %}"></script>
  <script src="{% static 'components/CLNDR/clndr.js' %}"></script>
  {% endcompress %}

  <script type="text/javascript">
    reform.urls.submit = {% url 'appreciations:submit' as submit_url %}{{submit_url|json}};
  </script>

  {% compress js %}
  <script src="{% static 'appreciations/scripts/submit.js' %}"></script>
  {% endcompress %}

{% endblock %}
