{% extends "layouts/default.html" %}

{% load i18n %}{% load url from future %}

{% block view_title %}{% trans 'Password Reset Complete' %} | {% endblock %}

{% block view_content %}

  <div class="page-header">
    <h1 class="text-center">{% trans "Password Reset Complete" %}</h1>
  </div>

  <p class="lead text-center text-success">{% trans "Your password has been set. You may go ahead and sign in now." %}</p>

  <p class="text-center"><a href="{{ login_url }}" class="btn btn-primary">{% trans 'Sign in' %}</a></p>

{% endblock %}
