{% extends "layouts/default.html" %}

{% load widget_tweaks static custom compress crispy_forms_tags %}
{% load i18n %}
{% load url from future %}

{% block view_title %}{% trans "Password Change" %} | {% endblock %}

{% block view_content %}

<div class="container">

  <div class="page-header">
    <h1 class="text-center">{% trans "Password Change" %}</h1>
  </div>

  <p class="lead text-center">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 well">

			<form action="{% url 'password_change' %}" method="post" class="form-horizontal">
				{% csrf_token %}
				{{ form|crispy_form_horizontal }}
				<input type="hidden" name="next" value="{{ next }}" />
				<input class="btn btn-primary btn-block" name="commit" type="submit" value="Change">
			</form>

	  </div>
  </div>
</div>
{% endblock %}
