{% extends "layouts/default.html" %}

{% load custom %}

{% block view_title %}Edit User | {% endblock %}

{% block view_content %}

	<div class="page-header">
		<h1 class="text-center">User <small>Edit</small></h1>
	</div>

	<div class="row">
		<div class="col-md-offset-2 col-md-8">

			<form class="form-horizontal" action="{% url 'users:edit' user.id %}" method="post">
				{% csrf_token %}

				{{form|crispy_form_horizontal}}

				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="{% url 'users:list' %}" class="btn btn-default">Cancel</a>

			</form>

		</div>
	</div>

{% endblock %}
