{% extends "layouts/default.html" %}

{% load static custom thumbnail compress crispy_forms_tags %}

{% block view_title %}{{profile}} | User Profile | {% endblock %}

{% block view_content %}

  <div class="page-header">
    <h1 class="text-center">User Profile<small></small></h1>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8 well">
      <dl class="dl-horizontal">
        <dt>Full name</dt>
        <dd>{{profile}}</dd>

        <dt>Email</dt>
        <dd>{{profile.email}}</dd>

        <dt>Role</dt>
        <dd>{{profile.get_role_display}}</dd>

        <dt>Password</dt>
        <dd><a href="#" class="ui-editable" id="user-password" data-type="password" data-pk="{{profile.pk}}" data-name="password" data-url="{% url 'users:change_password' %}" data-display="false" data-title="Enter new password" data-placeholder="New password">[change]</a></dd>

        <dt>Connected accounts</dt>
        <dd>
          <ul>
            <li>
              Google
              {% if social_auth.google %}
              <a href="{% url "socialauth_disconnect_individual" social_auth.google.provider social_auth.google.id %}?next={{request.path}}">Disconnect</a>
              {% else %}
              <a href="{% url 'socialauth_begin' 'google' %}?next={{request.path}}">Connect</a>
              {% endif %}
            </li>
            <li>
              Facebook
              {% if social_auth.facebook %}
              <a href="{% url "socialauth_disconnect_individual" social_auth.facebook.provider social_auth.facebook.id %}?next={{request.path}}">Disconnect</a>
              {% else %}
              <a href="{% url 'socialauth_begin' 'facebook' %}?next={{request.path}}">Connect</a>
              {% endif %}
            </li>
            <li>
              Twitter
              {% if social_auth.twitter %}
              <a href="{% url "socialauth_disconnect_individual" social_auth.twitter.provider social_auth.twitter.id %}?next={{request.path}}">Disconnect</a>
              {% else %}
              <a href="{% url 'socialauth_begin' 'twitter' %}?next={{request.path}}">Connect</a>
              {% endif %}
            </li>
          </ul>
        </dd>

        <dt>Victim Profile</dt>
        <dd>
          <form class="ui-profile-victim form-horizontal clean-empty" method="post">
            {% csrf_token %}
            {{victim_form|crispy_form_horizontal}}
            <button type="submit" class="btn btn-primary btn-block">Save</button>
          </form>
        </dd>

      </dl>
    </div>
  </div>


{% endblock %}


{% block view_styles %}

  {% compress css %}
  <link rel="stylesheet" href="{% static 'components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css' %}" />
  <link rel="stylesheet" href="{% static 'users/styles/profile.css'%}" />
  {% endcompress %}

{% endblock %}

{% block view_scripts %}

  {% compress js %}
  <script src="{% static 'components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js' %}"></script>
  <script src="{% static 'users/scripts/profile.js' %}"></script>
  {% endcompress %}

  <script type="text/javascript">
    reform.urls.submit = {% url 'violations:submit' as submit_url %}{{submit_url|json}};
  </script>

{% endblock %}
