{% extends "layouts/default.html" %}

{% block view_title %}Reports | {% endblock %}

{% block view_content %}

	<div class="page-header">
		<h1 class="text-center">Reports <small>management</small></h1>
	</div>

	<div class="row">
		<div class="col-md-offset-2 col-md-8 text-center">
			<div style="display: inline-block;">

				<table class="table table-hover">
					<tr>

						<th>Date and Time</th>
						<th>Location</th>
						<th>Category</th>
						<th>Victim</th>
						<th>Actions</th>
					</tr>
					{% for report in report_list %}
					<tr>
						<td><a href="{% url 'violations:crud-view' report.id %}">{{report.datetime}}</a></td>
						<td>{{report.location_text}}</td>
						<td>{{report.category}}</td>
						<td><a href="{{ report.victim.get_absolute_url }}">{{report.victim}}</a></td>
						<td>
							<a href="{% url 'violations:crud-edit' report.id %}" class="btn btn-info"><i class="icon-pencil"></i> Edit</a>
							<a href="{% url 'violations:crud-delete' report.id %}" class="btn btn-warning"><i class="icon-trash"></i> Delete</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="{% url 'violations:crud-create' %}" class="btn btn-lg btn-primary"><i class="icon-plus icon-large"></i> Add Report</a>
		</div>
	</div>

{% endblock %}
