{% extends "layouts/default.html" %}

{% block view_title %}Category Details | {% endblock %}

{% block view_content %}

<div class="page-header">
  <h1>Category<small>Detail</small></h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="offset2 span8">

			<form>

			<dl>
			  <dt>Slug</dt>
			  <dd>{{item.slug}}</dd>
			  <dt>Definition</dt>
			  <dd>{{item.definition}}</dd>
			</dl>

			<div class="form-actions">
			  <a href="{% url 'categories:list' %}" class="btn"><i class="icon-back"></i> Back</a>
				<a href="{% url 'categories:edit' item.id %}" class="btn btn-warning"><i class="icon-pencil"></i> Edit</a>
				<a href="{% url 'categories:delete' item.id %}" class="btn btn-danger"><i class="icon-trash"></i> Delete</a>
			</div>

			</form>

		</div>
	</div>
</div>

{% endblock %}
