{% load static widget_tweaks compress %}<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block view_title %}{% endblock %}Reform</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

<!-- Layout Styles Dependencies -->
{% block layout_styles %}
	{% compress css %}
	<link rel="stylesheet" href="{% static 'components/select2/select2.css' %}">
	<link rel="stylesheet" href="{% static 'components/select2-bootstrap-css/select2-bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'components/bootstrap-select/bootstrap-select.css' %}">
	<link rel="stylesheet" href="{% static 'components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css' %}">
	<link rel="stylesheet" href="{% static 'components/animate.css/animate.css' %}">

	<!--<link rel="stylesheet" href="{% static 'styles/deps.css' %}">-->
	<link rel="stylesheet" href="{% static 'styles/main.css' %}">
	{% endcompress %}

	{% if debug %}
	<style type="text/css">
.animated {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;

	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
	</style>
	{% endif %}

{% endblock %}
<!-- Layout Styles Dependencies -END -->

<!-- View Styles Dependencies -->
{% block view_styles %}{% endblock %}
<!-- View Styles Dependencies - END -->

	<script type="text/javascript">
	var reform = {
		data: {},
		widgets: {},
		urls: {}
	};
	var csrf_token = "{{ csrf_token|escapejs }}";
	</script>

</head>
<body ng-app="reformPlatform">

	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="{% static 'components/es5-shim/es5-shim.js' %}"></script>
		<script src="{% static 'components/json3/lib/json3.min.js' %}"></script>
	<![endif]-->

	<div class="navbar-wrapper" style="z-index: 10000;">
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="brand" href="/">Reform</a>
					<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="/" target="_blank">Home</a></li>
					</ul>

					<ul class="nav pull-right">

						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user"></i>
							{% if user.is_authenticated %}
							<span>{{user.get_short_name}}</span>
							{% else %}
							<span>No body!</span>
							{% endif %}
							<b class="caret"></b>
						</a>
						{% if not user.is_authenticated %}
						<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">

							<form action="{% url 'login' %}" method="post">
								{% csrf_token %}
								<input type="hidden" name="next" value="{{ next }}" />
								<div class="input-prepend">
									<span class="add-on"><i class="icon-envelope"></i></span>
									{% render_field form.username placeholder="Username" required="required" %}
								</div>
								<div class="input-prepend">
									<span class="add-on"><i class="icon-key"></i></span>
									{% render_field form.password placeholder="Password" required="required" %}
								</div>
								<div class="clearfix">
									<button class="btn-inverse btn button pull-right" type="submit">Login</button>
								</div>

							</form>
						</div>
						{% else %}
						<ul class="dropdown-menu">
							<li><a href="/logout"><i class="icon-off"></i> <span data-ch-i18n="">Logout</span></a></li>
						</ul>
						{% endif %}
						</li>

					</ul>

					</div><!--/.nav-collapse -->
				</div>
				</div>
			</div>
		</div>
	</div>

	{% if messages %}
	<div class="container">
		{% for message in messages %}
		<div class="alert alert-{{message.tags}}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="{{message.tags}}">{{message}}</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

<!-- View -->
{% block view_content %}{% endblock %}
<!-- View - END -->
<!--<div class="container" ng-view=""></div>-->
<!--<div id="mainView" ng-view="" ng-show="state.showMainView"></div>-->
{#% <pre>{% debug %}</pre> %#}



	<div id="footer">
		<!--<hr style="margin-bottom: 5px;" />-->
		<div class="container">

			<!--
			<div class="btn-group pull-right" style="margin: 5px 0;">
				<a class="btn" href="https://www.facebook.com/X" title="Facebook" target="_blank"><i class="icon-facebook"></i></a>
				<a class="btn" href="https://twitter.com/X" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
			</div>
			-->

			<!--<p class="credit pull-right"><a href="#">Back to top</a></p>-->
			<p class="muted credit">
				...
			</p>

		</div>
	</div>

<!-- View Addons: dialogs, client-side templates, .... -->
{% block view_addons %}{% endblock %}
<!-- View Addons - END -->

<!-- Layout Scripts Dependencies -->
{% block layout_scripts %}
	{% compress js %}
	<script src="{% static 'components/jquery/jquery.js' %}"></script>
	<!--<script src="{% static 'components/sass-bootstrap/bootstrap/js/bootstrap.js' %}"></script>-->
	<script src="{% static 'scripts/bootstrap.js' %}"></script>

	<script src="{% static 'components/select2/select2.js' %}"></script>
	<script src="{% static 'components/bootstrap-select/bootstrap-select.js' %}"></script>
	{% endcompress %}

	<script type="text/javascript">
		$(function(){
			//$('select').selectpicker();
		});
	</script>
{% endblock %}
<!-- Layout Scripts Dependencies - END -->

<!-- View Scripts -->
	{% block view_scripts %}{% endblock %}
<!-- View Scripts - END -->

	{% if debug %}
	<script src="{% static 'components/html-inspector/dist/html-inspector.js' %}"></script>
	<script> HTMLInspector.inspect() </script>
	{% endif %}

</body>
</html>
