{% load static compress custom i18n l10n %}<!doctype html>
<!--[if lt IE 7]>      <html{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} lang="{{LANGUAGE_CODE}}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} lang="{{LANGUAGE_CODE}}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} lang="{{LANGUAGE_CODE}}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} lang="{{LANGUAGE_CODE}}" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="language" content="{{LANGUAGE_CODE}}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block view_title %}{% endblock %}{% trans 'Reform Reporting Platform' %}</title>
	<meta name="description" content="{% settings_value 'SITE_DESCRIPTION' %}">
  {% block view_meta %}{% endblock %}
  <meta property="og:title" content="{% settings_value 'SITE_NAME' %}">
  <meta property="og:image" content="{% static 'favicon-160x160.png' %}">
  <meta property="og:description" content="{% settings_value 'SITE_DESCRIPTION' %}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@tnreform">
  <meta name="twitter:title" content="{% settings_value 'SITE_NAME' %}">
  <meta name="twitter:description" content="{% settings_value 'SITE_DESCRIPTION' %}">
  <meta name="twitter:image" content="{% static 'favicon-160x160.png' %}">
  <!-- icons & favicons -->

  <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favicon-160x160.png" sizes="160x160" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favicon-196x196.png" sizes="196x196" />
  <meta name="msapplication-TileColor" content="#d40000" />
  <meta name="msapplication-TileImage" content="{{STATIC_URL}}mstile-144x144.png" />

  <!--<link rel="shortcut icon" href="{{STATIC_URL}}favicon.png">-->
  <!-- For everything else -->
  <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico">

	<!--[if lt IE 9]>
		<script src="{% static 'components/es5-shim/es5-shim.js' %}"></script>
		<script src="{% static 'components/json3/lib/json3.min.js' %}"></script>
		<script src="{% static 'components/html5shiv/html5shiv.js' %}"></script>
	<![endif]-->

<!-- Layout Styles Dependencies -->
{% block layout_styles %}
	{% compress css %}
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static 'styles/main-rtl.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  {% endif %}
	<link rel="stylesheet" href="{% static 'components/animate.css/animate.css' %}">
	{% endcompress %}

	{% if debug %}
	<style type="text/css">
.animated {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;

	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
	</style>
	{% endif %}

{% endblock %}
<!-- Layout Styles Dependencies -END -->

<!-- View Styles Dependencies -->
{% block view_styles %}{% endblock %}
<!-- View Styles Dependencies - END -->

</head>
<body style="overflow-x: hidden;">

	{% comment %}
	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->
	{% endcomment %}

	<!--[if lt IE 10]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!--
  <div id="top-bg" style="z-index: 900;"></div>

	<div class="navbar-wrapper" style="z-index: 901;">
		<div class="container">

		</div>
	</div>
  -->

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">{% trans 'Toggle navigation' %}</span>
          <span class="fa fa-bars fa-lg fa-fw fa-inverse"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static 'reform-logo.png' %}" -width="50" -height="35" height="26" alt="{% trans 'Tunisian Institutional Reform' %}"></a>
      </div>

      <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
          {% url 'home' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-tachometer"></i> {% trans 'Reports Dashboard' %}</a></li>
          {% comment %}
          {% url 'violations:dashboard' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-exclamation-triangle"></i> {% trans 'Violations' %}</a></li>
          {% endcomment %}
          {% url 'violations:submit' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-plus"></i> {% trans 'Report a Violation' %}</a></li>
          {% comment %}
          {% url 'appreciations:dashboard' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-thumbs-up"></i> {% trans 'Appreciations' %}</a></li>
          {% endcomment %}
          {% url 'appreciations:submit' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-plus"></i> {% trans 'Appreciate Police Work' %}</a></li>
          {% else %}
          {% url 'home' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-home"></i> {% trans 'Home Page' %}</a></li>
          {% url 'violations:dashboard' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-exclamation-triangle"></i> {% trans 'Violations' %}</a></li>
          {% url 'appreciations:dashboard' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-thumbs-up"></i> {% trans 'Appreciations' %}</a></li>
          {% endif %}
          {% comment %}
          {% url 'zinnia_entry_archive_index' as url %}
          <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-book"></i> {% trans 'Investigations' %}</a></li>
          {% endcomment %}
          {% if user.is_authenticated %}
          {% if user.role == "A" %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle needsclick" data-toggle="dropdown"><i class="fa fa-cog"></i> {% trans 'Administration' %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'users:list' %}">{% trans 'Users' %}</a></li>
              <li><a href="{% url 'users:groups' %}">{% trans 'Groups' %}</a></li>
              <li><a href="{% url 'violations:categories:list' %}">{% trans 'Violation Categories' %}</a></li>
              <li><a href="{% url 'violations:features:list' %}">{% trans 'Violation Features' %}</a></li>
              <li><a href="{% url 'violations:victims:list' %}">{% trans 'Violation Victims' %}</a></li>
              <li><a href="{% url 'appreciations:categories:list' %}">{% trans 'Appreciation Categories' %}</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'admin:index' %}">{% trans 'Site Administration' %}</a></li>
            </ul>
          </li>
          {% endif %}
          {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
          <a href="#" class="dropdown-toggle needsclick" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            {% if user.is_authenticated %}
            <span>{{user.get_short_name}}</span>
            {% else %}
            <span>{% trans 'Nobody!' %}</span>
            {% endif %}
            <b class="caret"></b>
          </a>
          {% if not user.is_authenticated %}
          <ul class="dropdown-menu">
            <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> {% trans 'Sign in' %}</a></li>
          </ul>
          {% else %}
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            <li><a href="{% url 'users_profile' %}"><i class="fa fa-user"></i> {% trans 'Profile' %}</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> {% trans 'Sign out' %}</a></li>
          </ul>
          {% endif %}
          </li>

        </ul>

      </div><!--/.navbar-collapse -->
    </nav>
  </nav>

	{% if messages %}
	<div class="container">
		{% for message in messages %}
		<div class="alert alert-{{message.tags}}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="{{message.tags}}">{{message}}</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

<!-- View -->
  <div class="container">
{% block view_content %}{% endblock %}
  </div>
<!-- View - END -->

  <div id="footer">
    <div class="container text-center">

      {% comment %}
      <form id="ui-language-slection-form" action="{% url 'set_language' %}" method="post" class="form-inline -pull-right" role="form" style="display: inline-block;">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <div class="form-group">
          <label class="sr-only">{% trans 'Language' %}</label>
          <select name="language" class="form-control input-sm">
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in LANGUAGES %}
            <option value="{{ language.code }}"{% if not language.bidi %} class="ltr"{% endif %}{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
            {{ language.name_local }} ({{ language.code }})
            </option>
          {% endfor %}
          </select>
          <!--<input type="hidden" name="next" value="{{ request.get_full_path }}">-->
        </div>
        <button type="submit" class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
      </form>
      {% endcomment %}

      <div class="text-muted credit" style="display: inline-block; padding: 6px;">
        <!-- Current language: {{ LANGUAGE_CODE }} -->
      {% for lang_code, lang_name in LANGUAGES %}
        {% if lang_code != LANGUAGE_CODE %}
        {% language lang_code %}

        <form name="ui-set-lang-{{lang_code}}-form" action="{% url 'set_language' %}" method="POST" class="form-inline" role="form" style="display: inline; margin: 0 10px;">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path }}{#% url request.resolver_match.url_name request.resolver_match.args %#}" />
          <input type="hidden" name="language" value="{{ lang_code }}" />
          <a href="#" onclick="document['ui-set-lang-{{lang_code}}-form'].submit();return false;">{{ lang_code|language_name_local }}</a>
        </form>

        {% endlanguage %}
        {% endif %}
      {% endfor %}

        {% trans 'Developed by' %} <a href="http://reform.tn/" target="_blank" title="{% trans 'Tunisian Institutional Reform' %}">
          <img src="{% static 'reform-logo.png' %}" -width="50" -height="35" height="26" alt="{% trans 'Tunisian Institutional Reform' %}">
        </a>
          <!-- <span class="inline-hidden-xs inline-hidden-sm">{% trans 'Tunisian Institutional Reform' %}</span>
          <span class="inline-hidden-md inline-hidden-lg">{% trans 'REFORM Association' %}</span> -->
        |
        {% trans 'Sponsored by' %} <a href="http://mepi.state.gov/" target="_blank" title="{% trans 'MEPI' %}">
          <img src="{% static 'mepi-logo.jpg' %}" -width="50" -height="35" height="26" alt="{% trans 'MEPI' %}">
        </a>

        |
        <a href="email:contact@ipolice.tn" title="{% trans 'report a bug, suggest a feature, ...' %}">{% trans 'Feedback' %}</a>

    </div>
  </div>

<!-- View Addons: dialogs, client-side templates, .... -->
{% block view_addons %}{% endblock %}
<!-- View Addons - END -->

<!-- Layout Scripts Dependencies -->
{% block layout_scripts %}

  <script type="text/javascript">
  var csrf_token = "{{ csrf_token|escapejs }}";

  var reform = {
    data: {},
    widgets: {},
    urls: {},
    i18n: {},
    l10n: {},
  };

  reform.i18n.language = {{LANGUAGE_CODE|json}};
  reform.i18n.bidi = {{LANGUAGE_BIDI|json}};
  reform.i18n.languages = {{LANGUAGES|keys|json}};

  reform.l10n.TIME_ZONE = {{TIME_ZONE|json}};

  </script>

  <!--<script type="text/javascript" src="{% url 'i18n' 'base' %}"></script>-->

	{% compress js %}
  <script src="{% static 'scripts/modernizr.js' %}"></script>
	<script src="{% static 'components/jquery/jquery.js' %}"></script>
	<!--<script src="{% static 'components/sass-bootstrap/bootstrap/js/bootstrap.js' %}"></script>-->
	<script src="{% static 'scripts/bootstrap.js' %}"></script>
  <script src="{% static 'components/momentjs/moment.js' %}"></script>
  <script src="{% static 'components/fastclick/lib/fastclick.js' %}"></script>
	{% endcompress %}

  {% if LANGUAGE_CODE != 'en' %}
  {% if LANGUAGE_CODE == 'ar' %}
  <script src="{% static 'dependencies/momentjs/lang/ar-tn.js' %}"></script>
  {% else %}
  <script src="{% static 'components/momentjs/lang/' %}{{LANGUAGE_CODE}}.js"></script>
  {% endif %}
  {% endif %}

{% endblock %}
<!-- Layout Scripts Dependencies - END -->

<!-- View Scripts -->
	{% block view_scripts %}{% endblock %}
<!-- View Scripts - END -->

  <script type="text/javascript">
    if($.pnotify){
      $.pnotify.defaults.styling = "bootstrap";
      $.pnotify.defaults.opacity = 0.9;
      //$.pnotify.defaults.nonblock = true;
      $.pnotify.defaults.nonblock_opacity = 0.3;
      //$.pnotify.defaults.history = false;
      $.pnotify.defaults.stack.spacing1 = 20;
    }

    if($.blockUI){
      $.blockUI.defaults.baseZ = 800;
      $.blockUI.defaults.css.border = 'none';
      $.blockUI.defaults.message = 'Loading ...';
    }

    $(document).ready(function(){
      //$('select').selectpicker();
      $('.clean-empty option[value=]').remove();
      $('.clean-empty input:radio[value=]').parent().remove();

      $('#ui-language-slection-form select').on('change', function(e){
        this.form.submit();
      });
      $('#ui-language-slection-form button').hide();

      //FastClick.attach(document.body);

      /*
      if (Modernizr.touch) {
        // Hides mobile browser's address bar when page is done loading.
        window.addEventListener('load', function(e) {
          setTimeout(function() { window.scrollTo(0, 1); }, 1);
        }, false);
      }
      */

    });
  </script>
	{% if debug %}
	<script src="{% static 'components/html-inspector/html-inspector.js' %}"></script>
	<script> HTMLInspector.inspect() </script>
	{% endif %}

</body>
</html>
