{% load static widget_tweaks compress custom %}<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block view_title %}{% endblock %}Reform Reporting Platform</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

  <!-- icons & favicons -->

  <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}apple-touch-fa fa-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}apple-touch-fa fa-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}apple-touch-fa fa-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}apple-touch-fa fa-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}apple-touch-fa fa-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}apple-touch-fa fa-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}apple-touch-fa fa-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}apple-touch-fa fa-152x152.png" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favfa fa-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favfa fa-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favfa fa-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favfa fa-160x160.png" sizes="160x160" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}favfa fa-196x196.png" sizes="196x196" />
  <meta name="msapplication-TileColor" content="#d40000" />
  <meta name="msapplication-TileImage" content="{{STATIC_URL}}mstile-144x144.png" />

  <!--<link rel="shortcut icon" href="{{STATIC_URL}}favicon.png">-->
  <!-- For everything else -->
  <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico">

	<!--[if lt IE 9]>
		<script src="{% static 'components/es5-shim/es5-shim.js' %}"></script>
		<script src="{% static 'components/json3/lib/json3.min.js' %}"></script>
		<script src="{% static 'components/html5shiv/html5shiv.js' %}"></script>
	<![endif]-->

<!-- Layout Styles Dependencies -->
{% block layout_styles %}
	{% compress css %}
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
	<!--<link rel="stylesheet" href="{% static 'components/select2/select2.css' %}">-->
	<!--<link rel="stylesheet" href="{% static 'components/select2-bootstrap-css/select2-bootstrap.css' %}">-->
	<link rel="stylesheet" href="{% static 'components/bootstrap-select/bootstrap-select.css' %}">
	<!--<link rel="stylesheet" href="{% static 'components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css' %}">-->
	<link rel="stylesheet" href="{% static 'components/animate.css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'components/pines-notify/jquery.pnotify.default.css' %}">
	{% endcompress %}

	{% compress js %}
	<script src="{% static 'scripts/modernizr.js' %}"></script>
	{% endcompress %}

	{% if debug %}
	<style type="text/css">
.animated {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;

	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
	</style>
	{% endif %}

{% endblock %}
<!-- Layout Styles Dependencies -END -->

<!-- View Styles Dependencies -->
{% block view_styles %}{% endblock %}
<!-- View Styles Dependencies - END -->

	<script type="text/javascript">
	var reform = {
		data: {},
		widgets: {},
		urls: {}
	};
	var csrf_token = "{{ csrf_token|escapejs }}";
  var l10n = {};
  l10n.datetime = {};
  l10n.DATE_FORMAT = {{DATE_FORMAT|json}};
  l10n.SHORT_DATE_FORMAT = {{SHORT_DATE_FORMAT|json}};
  l10n.DATETIME_FORMAT = {{DATETIME_FORMAT|json}};
  l10n.SHORT_DATETIME_FORMAT = {{SHORT_DATETIME_FORMAT|json}};
  l10n.TIME_FORMAT = {{TIME_FORMAT|json}};
  l10n.TIME_ZONE = {{TIME_ZONE|json}};

  l10n.TIME_INPUT_FORMAT = 'H:M'; // ['H:M:S', 'H:M:S.f', 'H:M']
  l10n.TIME_INPUT_FORMAT_ = 'H:M:S';
  l10n.DATE_INPUT_FORMAT = 'Y-m-d';
  l10n.DATETIME_INPUT_FORMAT = 'Y-m-d H:M'; // ['Y-m-d H:M:S', 'Y-m-d H:M:S.f', 'Y-m-d H:M', 'Y-m-d')
  l10n.DATETIME_INPUT_FORMAT_ = 'Y-m-d H:M:S';
	</script>

</head>
<body>

	{% comment %}
	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->
	{% endcomment %}

	<!--[if lt IE 10]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div id="top-bg" style="z-index: 900;"></div>

	<div class="navbar-wrapper" style="z-index: 901;">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
            <span class="fa fa-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static 'reform-logo.png' %}" _width="50" _height="35" height="26" alt="Tunisian Institutional Reform | جمعية إصلاح المؤسسات"></a>
        </div>

				<div class="navbar-collapse collapse">

					<ul class="nav navbar-nav">
						{% if user.is_authenticated %}
            {% url 'home' as url %}
						<li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            {% comment %}
            {% url 'violations:dashboard' as url %}
            <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}">Violations</a></li>
            {% endcomment %}
            {% url 'violations:submit' as url %}
            <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-plus"></i> Report a Violation</a></li>
            {% comment %}
            {% url 'appreciations:dashboard' as url %}
            <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}">Appreciations</a></li>
            {% endcomment %}
            {% url 'appreciations:submit' as url %}
            <li{% if request.path_info == url %} class="active"{% endif %}><a href="{{url}}"><i class="fa fa-plus"></i> Appreciate Police Work</a></li>
						{% if user.role == "A" %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'users:list' %}">Users</a></li>
                <li><a href="{% url 'users:groups' %}">Groups</a></li>
								<li><a href="{% url 'violations:categories:list' %}">Violation Categories</a></li>
								<li><a href="{% url 'violations:features:list' %}">Violation Features</a></li>
								<li><a href="{% url 'violations:victims:list' %}">Violation Victims</a></li>
								<li><a href="{% url 'appreciations:categories:list' %}">Appreciation Categories</a></li>
								<li class="divider"></li>
								<li><a href="/admin">Site Administration</a></li>
							</ul>
						</li>
						{% endif %}
						{% endif %}
					</ul>

					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user"></i>
							{% if user.is_authenticated %}
							<span>{{user.get_short_name}}</span>
							{% else %}
							<span>Nobody!</span>
							{% endif %}
							<b class="caret"></b>
						</a>
						{% if not user.is_authenticated %}
						{% comment %}
						<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
							<form action="{% url 'login' %}" method="post">
								{% csrf_token %}
								<input type="hidden" name="next" value="{{ next }}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									{% render_field form.username type="email" placeholder="Email" required="required" %}
								</div>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-key"></i></span>
									{% render_field form.password placeholder="Password" required="required" %}
								</div>
								<div class="clearfix">
									<button class="btn-inverse btn button pull-right" type="submit">Register</button>
								</div>
							</form>
						</div>
						{% endcomment %}
						<ul class="dropdown-menu">
							<li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Sign in</a></li>
						</ul>
						{% else %}
						<ul class="dropdown-menu">
							{% if user.is_authenticated %}
							<li><a href="{% url 'users:profile' %}"><i class="fa fa-user"></i> Profile</a></li>
							{% endif %}
							<li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
						</ul>
						{% endif %}
						</li>

					</ul>

				</div><!--/.navbar-collapse -->

			</nav>
		</div>
	</div>

	{% if messages %}
	<div class="container">
		{% for message in messages %}
		<div class="alert alert-{{message.tags}}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="{{message.tags}}">{{message}}</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

<!-- View -->
  <div class="container">
{% block view_content %}{% endblock %}
  </div>
<!-- View - END -->

{#% <pre>{% debug %}</pre> %#}

	{% comment %}
	<div id="footer">
		<!--<hr style="margin-bottom: 5px;" />-->
		<div class="container">

			<p class="text-muted credit pull-left">
				<a href="http://reform.tn/" target="_blank">reform.tn</a>
			</p>

			{% load i18n l10n %}
			<form action="{% url 'set_language' %}" method="post" class="form-inline pull-right" style="margin-top: 6px;">
				{% csrf_token %}
				<input name="next" type="hidden" value="{{ redirect_to }}" />
				<select name="language" class="input-medium">
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
					<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
						{{ language.name_local }} ({{ language.code }})
					</option>
					{% endfor %}
				</select>
				<input type="submit" class="btn btn-default" value="Go" />
			</form>

		</div>
	</div>
	{% endcomment %}


<!-- View Addons: dialogs, client-side templates, .... -->
{% block view_addons %}{% endblock %}
<!-- View Addons - END -->

<!-- Layout Scripts Dependencies -->
{% block layout_scripts %}
	{% compress js %}
	<script src="{% static 'components/jquery/jquery.js' %}"></script>
	<!--<script src="{% static 'components/sass-bootstrap/bootstrap/js/bootstrap.js' %}"></script>-->
	<script src="{% static 'scripts/bootstrap.js' %}"></script>

	<script src="{% static 'components/select2/select2.js' %}"></script>
	<script src="{% static 'components/bootstrap-select/bootstrap-select.js' %}"></script>

	<script src="{% static 'components/pines-notify/jquery.pnotify.js' %}"></script>
	<script type="text/javascript">
		$.pnotify.defaults.styling = "bootstrap";
		$.pnotify.defaults.opacity = 0.9;
		//$.pnotify.defaults.nonblock = true;
		$.pnotify.defaults.nonblock_opacity = 0.3;
		//$.pnotify.defaults.history = false;
		$.pnotify.defaults.stack.spacing1 = 20;
		$(function(){
			//$('select').selectpicker();
		});
	</script>
	{% endcompress %}

{% endblock %}
<!-- Layout Scripts Dependencies - END -->

<!-- View Scripts -->
	{% block view_scripts %}{% endblock %}
<!-- View Scripts - END -->

  <script type="text/javascript">
  $(document).ready(function(){
    $('.clean-empty option[value=]').remove();
    $('.clean-empty input:radio[value=]').parent().remove();
  });
  </script>

	{% if debug %}
	<script src="{% static 'components/html-inspector/html-inspector.js' %}"></script>
	<script> HTMLInspector.inspect() </script>
	{% endif %}

</body>
</html>
