{% extends "layouts/default.html" %}

{% load static custom compress %}

{% block view_title %}Thanks Dashboard | {% endblock %}

{% block view_content %}

  <div class="container">

    <div class="page-header">
      <h1 class="text-center">Thanks Dashboard</h1>
    </div>

    <div class="hero-unit clearfix" style="padding: 20px 40px;">
      {% if thankreport_list %}
      <div class="pull-left" style="margin: 0;">
        {% with report=thankreport_list.0 %}
        <div>
          <h2 style="margin-top: 0;">Latest Report</h2>
          <span class="label victim"><i class="icon-user"></i> {{report.victim}}</span>
          has been a victim of
          <span class="label category">{{report.category}}</span>
          happened in
          <span class="label location"><i class="icon-map-marker"></i> {{report.location_text}}</span>
          on
          <span class="label datetime"><i class="icon-calendar"></i> {{report.datetime}}</span>
          {% if report.is_verified %}<span class="badge badge-success">Verified <i class="icon-ok"></i></span>{% endif %}
          {% comment %}
          {% if report.is_closed %}<span class="badge badge-important">Closed <i class="icon-lock"></i></span>{% endif %}
          {% endcomment %}
          <a class="btn btn-not" href="{% url 'thanks:view' report.id %}" target="_blank" title="Click to view report" _data-toggle="modal" _data-target="#ui-report-view-modal">
            <i class="icon-external-link icon-large"></i>
          </a>
        </div>
        {% endwith %}
      </div>
      {% else %}
      <div class="pull-left" style="margin: 0;">
        <h2>There is no reports!</h2>
      </div>
      {% endif %}
      <a class="btn btn-success btn-large pull-right" href="{% url 'thanks:submit' %}"><i class="icon-plus"></i> Thank a Security Officer</a>
    </div>

    {% if thankreport_list %}
    <div class="well">

      <div class="container-fluid">

        <!--
        <div class="row-fluid">
          <div class="span12">
            <div id="ui-thanks-dates-chart" style="height: 300px;"></div>
          </div>
        </div>
        -->

        <div class="row-fluid">
          <div class="span12">
            <div id="ui-thanks-dates-chart" style="height: 300px;"></div>
          </div>
        </div>


        <div class="row-fluid">
          <div class="offset2 span8" style="margin-top: 20px;">
            <!--<h2>Map</h2>-->
            <div id="ui-timeline-map" class="ui-timeline-map" style="width:100%; height: 400px"></div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6" style="margin-top: 20px;">
            <div id="ui-timeline-thanks-list" class="ui-timeline-list clearfix">

              <div class="ui-pagination pagination pagination-small pagination-centered">
                <ul>
                  <li class="{% if current == 1 %}disabled{% endif %}">
                    <a class="ui-pagination-control ui-pagination-first" href="{{request.path}}?page=1"><i class="icon-arrow-left"></i> First</a>
                  </li>

                  <li class="{% if current == 1 %}disabled{% endif %}">
                    <a class="ui-pagination-control ui-pagination-previous" href="{{request.path}}?page={{ current|add:-1 }}"><i class="icon-chevron-left"></i> Previous</a>
                  </li>

                  <li><span class="ui-pagination-indicator">{{current}} / {{pages}}</span></li>

                  <li class="{% if current == pages %}disabled{% endif %}">
                    <a class="ui-pagination-control ui-pagination-next" href="{{request.path}}?page={{ current|add:1 }}">Next <i class="icon-chevron-right"></i></a>
                  </li>

                  <li class="{% if current == pages %}disabled{% endif %}">
                    <a class="ui-pagination-control ui-pagination-last" href="{{request.path}}?page={{ pages }}">Last <i class="icon-arrow-right"></i></a>
                  </li>
                </ul>
              </div>

              <ul id="ui-timeline-list" class="list list-hover">
                {% include "thanks/dashboard_thanks_list.html" %}
              </ul>

            </div>
          </div>
          <div class="span6" style="margin-top: 20px;">
            <div id="ui-stats-thanks-by-category-chart" style="margin-top: 20px;"></div>
          </div>
        </div>

    </div>
    {% endif %}

  </div>

<!-- Modal -->
<div id="ui-report-view-modal" class="modal modal-big hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Report View</h3>
  </div>
  <div class="modal-body">
    <p>...</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endblock %}

{% block view_styles %}
  {% if thankreport_list %}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.css'%}" />
  <link rel="stylesheet" href="{% static 'components/leaflet.markerclusterer/dist/MarkerCluster.Default.css'%}" />
  <link rel="stylesheet" href="{% static 'components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css'%}" />
  <link rel="stylesheet" href="{% static 'thanks/styles/dashboard.css'%}" />
  {% endcompress %}
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{% static 'components/leaflet/dist/leaflet.ie.css'%}" />
  <![endif]-->
  {% else %}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'thanks/styles/dashboard.css'%}" />
  {% endcompress %}
  {% endif %}
{% endblock %}

{% block view_scripts %}
  {% if thankreport_list %}
  <script type="text/javascript">
    reform.urls.thanksDashboard = {% url 'thanks:dashboard' as thank_dashboard_url %}{{thank_dashboard_url|json}};
    reform.urls.thankView = {% url 'thanks:view' 0 as thank_view_url %}{{thank_view_url|json}};

    reform.data.thanksByDate = {{thanks_by_date|json}}
    reform.data.thanksLocations = {{thanks_locations|json}}
    reform.data.timeline = {
      pages: {{pages|json}},
      current: {{current|json}},
      count: {{count|json}},
    };
  </script>
  {% compress js %}
  <script src="{% static 'components/blockui/jquery.blockUI.js' %}"></script>
  <script src="{% static 'components/leaflet/dist/leaflet.js' %}"></script>
  <script type="text/javascript">L.Icon.Default.imagePath = "{% static 'components/leaflet/dist/images' %}";</script>
  <script src="{% static 'components/leaflet.markerclusterer/dist/leaflet.markercluster-src.js' %}"></script>
  <script src="{% static 'components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js' %}"></script>
  <script src="{% static 'components/highcharts.com/js/highcharts.src.js' %}"></script>
  <script src="{% static 'components/highcharts.com/js/modules/exporting.src.js' %}"></script>
  <script src="{% static 'utils/pagination.js' %}"></script>
  <script src="{% static 'thanks/scripts/dashboard.js' %}"></script>
  {% endcompress %}
  {% endif %}


{% endblock %}
